@using IGN.Models
@{
    ViewBag.Title = "tags";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head
{
    <link href="~/css/SimpleChart.css" rel="stylesheet" />
    <link href="~/css/pagination.css" rel="stylesheet" />

    <link href="~/css/categories.css" rel="stylesheet" />

    <link href="~/css/animate.min.css" rel="stylesheet" />


}



<div class="row">
    <div class="col-md-2">

        <div class="row">
            <div class="col-md-12">
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
            </div>
        </div>



    </div>
    <div class="col-md-10">

        <div class="widget widget-news card">

            <h2 class="widget-title"><span class="fa fa-rss pull-left"></span>لیست موضوعات خبری</h2>
            <div class="widget-content">

                <div class="row margin-top-15">
                    <div class="col-md-12">
                        <div class="search-box ">

                            <span>تگ:</span>
                            <span class="form-group">
                                <input type="text" id="txtSearch" name="search-text" class="form-control empty input-style " onblur="if (this.value == '')
            this.value = this.defaultValue;" onfocus="if (this.value == this.defaultValue)
            this.value = '';" value="@ViewBag.TagName" />
                            </span>
                            <button type="button" class="btn btn-accent shadow subscriber-form-btn btnSearch">جستجو</button>

                        </div>
                    </div>
                </div>


                <div class="row ">
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="ch7">
                            <input id="ch7" type="radio" name="cRadio" class="inputnone " accesskey="7" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-desktop fa-lg"></i>
                            <label class="font-size-11" for="ch7">فناوری</label>
                        </label>

                    </div>
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="ch4">
                            <input id="ch4" type="radio" name="cRadio" class="inputnone " accesskey="4" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-medkit fa-lg"></i>
                            <label class="font-size-11" for="ch4">علمی پزشکی</label>
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="ch5">
                            <input id="ch5" type="radio" name="cRadio" class="inputnone " accesskey="5" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-address-card-o fa-lg"></i>
                            <label class="font-size-11" for="ch5">استخدام</label>
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="ch12">
                            <input id="ch12" type="radio" name="cRadio" class="inputnone " accesskey="12" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-picture-o fa-lg"></i>
                            <label class="font-size-11" for="ch12">تصویری</label>
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="ch1">
                            <input id="ch1" type="radio" name="cRadio" class="inputnone " accesskey="1" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-futbol-o fa-lg"></i>
                            <label class="font-size-11" for="ch1">ورزشی</label>
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="ch-1">
                            <input id="ch-1" type="radio" name="cRadio" class="inputnone " accesskey="-1" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-futbol-o fa-lg"></i>
                            <label class="font-size-11" for="ch-1">همه</label>
                        </label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="ch10">
                            <input id="ch10" type="radio" name="cRadio" class="inputnone " accesskey="10" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-globe fa-lg"></i>
                            <label class="font-size-11" for="ch10">بین المللی</label>
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="ch9">
                            <input id="ch9" type="radio" name="cRadio" class="inputnone " accesskey="9" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-puzzle-piece fa-lg"></i>
                            <label class="font-size-11" for="ch9">اجتماعی</label>
                        </label>
                    </div>

                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="ch6">
                            <input id="ch6" type="radio" name="cRadio" class="inputnone " accesskey="6" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-money fa-lg"></i>
                            <label class="font-size-11" for="ch6">اقتصادی</label>
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="ch8">
                            <input id="ch8" type="radio" name="cRadio" class="inputnone " accesskey="8" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-book fa-lg"></i>
                            <label class="font-size-11" for="ch8">فرهنگ و هنر</label>
                        </label>
                    </div>

                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="ch2">
                            <input id="ch2" type="radio" name="cRadio" class="inputnone " accesskey="2" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-bomb fa-lg"></i>
                            <label class="font-size-11" for="ch2">سیاسی</label>
                        </label>
                    </div>

                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="ch3">
                            <input id="ch3" type="radio" name="cRadio" class="inputnone " accesskey="3" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-ambulance fa-lg"></i>
                            <label class="font-size-11" for="ch3">حوادث</label>
                        </label>
                    </div>


                </div>

                <div class="row ">
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="ch18">
                            <input id="ch18" type="radio" name="cRadio" class="inputnone " accesskey="18" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-cutlery fa-lg"></i>
                            <label class="font-size-11" for="ch18">آشپزی</label>
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="ch16">
                            <input id="ch16" type="radio" name="cRadio" class="inputnone " accesskey="16" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-download fa-lg"></i>
                            <label class="font-size-11" for="ch16">دانلود</label>
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="ch11">
                            <input id="ch11" type="radio" name="cRadio" class="inputnone " accesskey="11" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-outdent fa-lg"></i>
                            <label class="font-size-11" for="ch11">گوناگون</label>
                        </label>
                    </div>

                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="ch14">
                            <input id="ch14" type="radio" name="cRadio" class="inputnone " accesskey="14" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-plane fa-lg"></i>
                            <label class="font-size-11" for="ch14">گردشگری</label>
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="ch13">
                            <input id="ch13" type="radio" name="cRadio" class="inputnone " accesskey="13" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-film fa-lg"></i>
                            <label class="font-size-11" for="ch13">سینمایی</label>
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="ch15">
                            <input id="ch15" type="radio" name="cRadio" class="inputnone " accesskey="15" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-car fa-lg"></i>
                            <label class="font-size-11" for="ch15">خودرو</label>
                        </label>
                    </div>
                </div>
                <div class="row padding-bottom-20 ">
                    <div class="col-md-12">
                        <label class="btnradio custom-radio-btn" for="ch17">
                            <input id="ch17" type="radio" name="cRadio" class="inputnone " accesskey="17" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-smile-o fa-lg"></i>
                            <label class="font-size-11" for="ch17" >اتاق طنز</label>
                        </label>
                    </div>

                </div>




            </div>
        </div>


    </div>
</div>




<div class="row">
    <div class="col-md-2">

        <div class="row">
            <div class="col-md-12">
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
            </div>
        </div>



    </div>
    <div class="col-md-10">

        <div class="widget widget-news card">

            <h2 class="widget-title"><span class="fa fa-rss pull-left"></span>ترند موضوع خبری @ViewBag.TagName</h2>
            <div class="widget-content">
                <div class="row">
                    <div class="col-md-12">
                        <div id="Hybridgraph" style="width: 98%; height: 300px">
                        </div>
                    </div>
                </div>

                @{ if (ViewBag.Catename != "" && Convert.ToInt32(ViewBag.CID) != 0 ) { 
                <div class="row margin-top-15">
                    <div class="col-md-3">
                        <span class="trendtitle">تعداد خبر</span>
                    </div>
                    <div class="col-md-3">

                        <span class="trendtitle">تاریخ</span>
                    </div>
                    <div class="col-md-3">

                        <span class="trendtitle">دسته بندی</span>
                    </div>
                    <div class="col-md-3">

                        <span class="trendtitle">عنوان</span>
                    </div>
                </div>


                <div class="row margin-top-15 padding-bottom-20 ">
                    <div class="col-md-3">
                        <span id="CountTagSerached"></span>
                    </div>
                    <div class="col-md-3">
                        <span>@DateTime.Now.Date</span>
                    </div>
                    <div class="col-md-3">
                        <span>@ViewBag.Catename </span>
                    </div>
                    <div class="col-md-3">
                        <span>@ViewBag.TagName</span>
                    </div>
                </div>
                    }
                }


            </div>
        </div>


    </div>
</div>


<div class="row">
    <div class="col-md-2">

        <div class="row">
            <div class="col-md-12">
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
            </div>
        </div>



    </div>
    <div class="col-md-10">

        <div class="widget widget-news card">

            <h2 class="widget-title"><span class="fa fa-rss pull-left"></span>خبرهای مرتبط در @ViewBag.TagName</h2>
            <div class="widget-content">
                <ul class="list-unstyled" id="Top50NewsTag"></ul>
            </div>
            <!-- widget content -->
        </div>


    </div>
</div>




<div class="row">
    <div class="col-md-2">

        <div class="row">
            <div class="col-md-12">
            </div>
        </div>



    </div>
    <div class="col-md-10">

        <div class="align-center margin-bottom-20">

            <div class="example">
                <div>
                    <div id="altLists"></div>
                </div>
            </div>

        </div>



    </div>
</div>



@section Script
    {


    <script src="~/js/superfish.js"></script>
    <script src="~/js/jquery.carousel-6.2.1.js"></script>
    <script src="~/js/tweetable.jquery.js"></script>
    <script src="~/js/jquery.timeago.js"></script>
    <script src="~/js/jquery.form.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/imagesloaded.js"></script>
    <script src="~/js/custom.js"></script>

    <script src="~/js/SimpleChart.js"></script>


    <script src="~/js/pagination.js"></script>




    <script>
        $(document).ready(function () {

            var TagSer = "@ViewBag.TagName";
            var CGetID = "@ViewBag.CID";

            if (CGetID != "" && CGetID != null) {

                //$("#ch" + CGetID).off().on(
                //    $(this).prop('checked', true));
                console.log("Here 1")
                SearchTagInAllNewsByInputKey(TagSer, true, CGetID);
                Get50TopNews(0, true, CGetID);
                BindPaginations(true, CGetID)
                console.log("Got It");

            }
            else {

                $("#ch-1").off().on(
                    $(this).prop('checked', true));

                SearchTagInAllNewsByInputKey(TagSer, false, -500);
                console.log("Here 2")
                Get50TopNews(0, false, -500);
                BindPaginations(false, -500)
                console.log("Other Got it")

            }


            $(".btnSearch").off().on('click', function () {

                var CID = $("input[name=cRadio]:checked").attr('accesskey');
                var txtSearch = $("#txtSearch").val();
                var CateName = $("input[name=cRadio]:checked").parent().find(".font-size-11").text();
                alert()
                console.log(CateName)

                if (CID != null && CID != "" && txtSearch != "") {
                    console.log(CID + txtSearch);

                    var url = "/Khabar/tags/" + CID + "-" + txtSearch + "- " + CateName;

                    window.location.href = url;
                }

            });


            function Get50TopNews(number, status, CID) {
                if (status == false) {
                                        $("#Top50NewsTag").empty();
                                        var url = "@Utility.HostNews/api/tblHashTags/GetTop50NewsByTag-@ViewBag.TagName-1-";
                                        var page = number;
                                        var combindUrl = url + page;

                                        $.getJSON(combindUrl , function (result) {

                                            $.each(result, function (i, item) {

                                                var time = "14";

                                                var splitTitle = item.Title.replace("+", " ").replace("?", " ").replace("*", " ").replace(";", " ").replace(",", " ").replace(".", " ").replace(":", " ").replace("؛", " ").replace("؟", " ").replace("»", " ").replace("«", " ").replace("!", " ").replace("(", " ").replace(")", " ").replace("{", " ").replace("}", " ").replace("[", " ").replace("]", " ").replace("/", " ").replace("-", " ");

                                                var SeoUrl = splitTitle.split(" ");

                                                var url = "";

                                                for (var i = 0; i < SeoUrl.length; i++) {

                                                    if (url.length > 80) {
                                                        break;
                                                    } else {
                                                        url += SeoUrl[i] + '-';
                                                    }
                                                }

                                                var $liTopNews = "<li><div class=\"item clearfix\"><div class=\"row\"> <div class=\"col-md-1 col-xs-1 col-sm-1 no-padding\"><ul class=\"CategoriesNews\"><li class=\"font-size-11\">" + time + " ساعت قبل</li></ul></div><div class=\"col-md-2 col-xs-2 col-sm-2 no-padding\"><ul class=\"CategoriesNews\"><li class=\"font-size-12\">" + item.RssName + "</li></ul></div><div class=\"col-md-9 col-xs-9 col-sm-9  no-padding\"><div><div class=\"boxin-right\"><span class=\"fa fa-angle-double-left HomeBoxes\" aria-hidden=\"true\"></span></div><h1 class=\"titleNews width-700\"><a href=\"/Khabar/خبر/Sport/" + item.NewsID + "/" + url + "\" target=\"_blank\" >" + item.Title + "</a></h1></div></div></div></div></li>";
                                                $("#Top50NewsTag").append($liTopNews);
                                            });
                                        });

                }
                else {
                $("#Top50NewsTag").empty();
                var url = "@Utility.HostNews/api/tblHashTags/GetTop50NewsByTagWithCategory-" + CGetID + "-" +"@ViewBag.TagName-1-";
                                var page = number;
                                var combindUrl = url + page;

                                $.getJSON(combindUrl , function (result) {

                                    $.each(result, function (i, item) {

                                        var time = "14";

                                        var splitTitle = item.Title.replace("+", " ").replace("?", " ").replace("*", " ").replace(";", " ").replace(",", " ").replace(".", " ").replace(":", " ").replace("؛", " ").replace("؟", " ").replace("»", " ").replace("«", " ").replace("!", " ").replace("(", " ").replace(")", " ").replace("{", " ").replace("}", " ").replace("[", " ").replace("]", " ").replace("/", " ").replace("-", " ");

                                        var SeoUrl = splitTitle.split(" ");

                                        var url = "";

                                        for (var i = 0; i < SeoUrl.length; i++) {

                                            if (url.length > 80) {
                                                break;
                                            } else {
                                                url += SeoUrl[i] + '-';
                                            }
                                        }

                                        var $liTopNews = "<li><div class=\"item clearfix\"><div class=\"row\"> <div class=\"col-md-1 col-xs-1 col-sm-1 no-padding\"><ul class=\"CategoriesNews\"><li class=\"font-size-11\">" + time + " ساعت قبل</li></ul></div><div class=\"col-md-2 col-xs-2 col-sm-2 no-padding\"><ul class=\"CategoriesNews\"><li class=\"font-size-12\">" + item.RssName + "</li></ul></div><div class=\"col-md-9 col-xs-9 col-sm-9  no-padding\"><div><div class=\"boxin-right\"><span class=\"fa fa-angle-double-left HomeBoxes\" aria-hidden=\"true\"></span></div><h1 class=\"titleNews width-700\"><a href=\"/Khabar/خبر/Sport/" + item.NewsID + "/" + url + "\" target=\"_blank\" >" + item.Title + "</a></h1></div></div></div></div></li>";
                                        $("#Top50NewsTag").append($liTopNews);
                                    });
                                });


                }

            };


            function BindPaginations(status,CID) {
                if (status == false) {
                      var dataStore = (function () {
                 var xml;

                 $.ajax({
                     type: "GET",
                     url: "@Utility.HostNews/api/Pageination/Tag-@ViewBag.TagName",
                     success: function (data) {

                         $("#CountTagSerached").html(data + "خبر");

                         //console.log(data);
                         if (data >= 500) {
                             data = 500;
                         }

                         $("#altLists").asPaginator(data
                             , {

                                 currentPage: data / 4,
                                 itemsPerPage: 50,
                                 visibleNum: 4,
                                 resizeThrottle: 250,

                                 tpl: function () {
                                     return '<ul>{{first}}{{prev}}{{altLists}}{{next}}{{last}}</ul>';
                                 },
                                 components: {
                                     first: true,
                                     prev: true,
                                     next: true,
                                     last: true,
                                     altLists: true
                                 },
                                 onChange: function (page) {
                                     //var url = '' + page;
                                     //console.log('ajax request' + url)
                                     //$.ajax({
                                     //    url: url,
                                     //    dataType: 'json',
                                     //    success: function (data) {
                                     //        alert(this.data)
                                     //    }
                                     //})
                                     var pageid = page - 1;
                                     //console.log(pageid);
                                     console.log("Here 111")
                                     Get50TopNews(pageid, false,0);

                                   //  var url = "/fa/tags/" + CID + "-" + txtSearch;

                                     //window.location.href = url;

                                 }
                             });
                     }
                 });

                 return {
                     getXml: function () {
                         if (xml) return xml;
                         // else show some error that it isn't loaded yet;
                     }
                 };
                    })();

                }
                else {


                          var dataStore = (function () {
                 var xml;

                 $.ajax({
                     type: "GET",
                     url: "@Utility.HostNews/api/Pageination/TagInCatgeory- " + CID + "-" + "@ViewBag.TagName" +  "",
                     success: function (data) {
                         $("#CountTagSerached").html(data + "خبر");

                         //console.log(data);
                         if (data >= 500) {
                             data = 500;
                         }

                         $("#altLists").asPaginator(data
                             , {

                                 currentPage: data / 4,
                                 itemsPerPage: 50,
                                 visibleNum: 4,
                                 resizeThrottle: 250,

                                 tpl: function () {
                                     return '<ul>{{first}}{{prev}}{{altLists}}{{next}}{{last}}</ul>';
                                 },
                                 components: {
                                     first: true,
                                     prev: true,
                                     next: true,
                                     last: true,
                                     altLists: true
                                 },
                                 onChange: function (page) {
                                     //var url = '' + page;
                                     //console.log('ajax request' + url)
                                     //$.ajax({
                                     //    url: url,
                                     //    dataType: 'json',
                                     //    success: function (data) {
                                     //        alert(this.data)
                                     //    }
                                     //})
                                     var pageid = page - 1;
                                     //console.log(pageid);


                                     console.log("Here 2222")
                                     Get50TopNews(pageid, true, 1);

                                    // var url = "/fa/tags/" + CID + "-" + txtSearch;

                                     //window.location.href = url;

                                 }
                             });
                     }
                 });

                 return {
                     getXml: function () {
                         if (xml) return xml;
                         // else show some error that it isn't loaded yet;
                     }
                 };
                    })();


                }

            }

        });


        function SearchTagInAllNewsByInputKey(GetName,status,CID) {

            console.log(GetName + CID + status);
            if (status == false) {
                $.getJSON("@Utility.HostNews/api/tblNews/SearchedKeyGetCount-" + GetName + "-Day", function (result) {



                    var DateCharts = [];
                    var i = 0;
                    $.each(result[0], function (key, value) {
                        if (i <= 20) {

                            DateCharts.push({ X: i + " - ", Y: value })
                        }
                        i = i + 1;
                    });



                    var graphdata1 = {
                        linecolor: "Random",
                        title: "ماه",
                        values: DateCharts
                    };

                    //$(function () {

                    $("#Hybridgraph").SimpleChart({
                        ChartType: "Hybrid",
                        toolwidth: "50",
                        toolheight: "25",
                        axiscolor: "#E6E6E6",
                        textcolor: "#6E6E6E",
                        showlegends: false,
                        data: [graphdata1],
                        legendsize: "140",
                        legendposition: 'bottom',
                        xaxislabel: 'روز',
                        yaxislabel: 'تعداد اخبار'
                    });
                    console.log(result);



                });
            } else {
                $.getJSON("@Utility.HostNews/api/tblNews/SearchedKeyGetCountCategory-" + GetName + "-" + CID + "-Day", function (result) {

                    var DateCharts = [];
                    var i = 0;
                    $.each(result[0], function (key, value) {
                        if (i <= 20) {

                            DateCharts.push({ X: i + " - ", Y: value })
                        }
                        i = i + 1;
                    });



                    var graphdata1 = {
                        linecolor: "Random",
                        title: "ماه",
                        values: DateCharts
                    };

                    //$(function () {

                    $("#Hybridgraph").SimpleChart({
                        ChartType: "Hybrid",
                        toolwidth: "50",
                        toolheight: "25",
                        axiscolor: "#E6E6E6",
                        textcolor: "#6E6E6E",
                        showlegends: false,
                        data: [graphdata1],
                        legendsize: "140",
                        legendposition: 'bottom',
                        xaxislabel: 'روز',
                        yaxislabel: 'تعداد اخبار'
                    });




                });
            }

        }

    </script>


}