@using IGN.Models;

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link href="~/css/app.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/material-kit.css" rel="stylesheet" />

    @*-L0gin-*@
    <link href="~/css/material.min.css" rel="stylesheet" />
    <link href="~/css/styleLogin.css" rel="stylesheet" />
    <link href="~/css/main-color-login.css" rel="stylesheet" />



    <link href="~/css/SideBarmenu.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/jquery-ui.css" rel="stylesheet" />


    <link rel="stylesheet" href="~/css/superfish.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/responsive.css" />



    <link href="~/css/kanNotify.css" rel="stylesheet" />


    <link href="~/css/MobileFooter.css" rel="stylesheet" />


    @RenderSection("Head", true)

    <title>Zoombi</title>






    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body class="kp-home ">
    <header id="header-page">



        <div id="top-header" class="top-header">
            <div class="container">
                <div id="logo">


                    <span class=" user-type">
                        <button type="button" class="btn btn-info btn-lg btnchoose" data-toggle="modal" data-target="#myCity">انتخاب استان (@Utility.CityName)</button>

                        <!-- Modal -->
                        <div class="modal fade" id="myCity" role="dialog">
                            <div class="modal-dialog whitebg">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">انتخاب استان</h4>
                                        <input id="s" class="form-control keyword" name="keyword" value="" placeholder="جستجو استان" type="text">
                                        <i class="search-city fa fa-search"></i>
                                    </div>
                                    <div class="modal-body choose">
                                        <ul class="countryList">
                                            @{ foreach (var item in Utility.lstProvinces)
                                                {
                                                    <li class="display-inline-block"><a class="btn btn-static-big" href="/Agahi/جستجو/@item.ProvinceName">@item.ProvinceName</a></li>
                                                }
                                            }
                                        </ul>



                                    </div>
                                </div>

                            </div>
                        </div>

                    </span>




                    <a href="/"><img src="~/images/logo.png" alt="logo" /></a>
                </div>
                <nav class="pull-right">
                    <ul class="sf-menu" id="main-menu">
                        <li>
                            <a href="/Agahi/جستجو">جستجو آگهی</a>
                        </li>
                        <li>
                            <a href="/Agahi/آگهی-های-من">آگهی های من</a>
                        </li>
                        <li class="current-item-menu">
                            <a href="/Agahi/ثبت-آگهی">ثبت آگهی رایگان</a>
                        </li>
                        <li>
                            @{


                                if (Utility.CurrentUser != null)
                                {

                                    <a id="Loginned" href="" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                                        <i class="login-icon fa fa-user"></i>


                                        @Utility.CurrentUser.NickName

                                        <i class="login-icon fa fa-power-off zindex1000"></i>
                                    </a>

                                }
                                else
                                {
                                    <a id="LoginInfo" href="" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" data-toggle="modal" data-target="#loginFormModal">
                                        <i class="login-icon fa fa-user"></i>ورود

                                    </a>
                                }

                            }

                        </li>
                    </ul>
                    @*    <div id="mobile-menu">
                            <span>Menu</span>
                            <ul id="toggle-view-menu">
                                <li class="clearfix">
                                    <h3><a href="#">Home</a></h3>
                                    <span>+</span>
                                    <div class="clearfix"></div>
                                    <div class="menu-panel clearfix">
                                        <ul>
                                            <li><a href="index.html">Index style 1</a></li>
                                            <li><a href="index-2.html">Index style 2</a></li>
                                            <li><a href="index-3.html">Index style 3</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <h3><a href="#">Pages</a></h3>
                                    <span>+</span>
                                    <div class="clearfix"></div>
                                    <div class="menu-panel clearfix">
                                        <ul>
                                            <li><a href="about.html">About page</a></li>
                                            <li><a href="elements.html">Elements page</a></li>
                                            <li><a href="404.html">404 page</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <h3><a href="#">Blog</a></h3>
                                    <span>+</span>
                                    <div class="clearfix"></div>
                                    <div class="menu-panel clearfix">
                                        <ul>
                                            <li>
                                                <a href="#">Blog style 1</a>
                                                <ul>
                                                    <li><a href="blog-1-left-sidebar.html">Width left sidebar</a></li>
                                                    <li><a href="blog-1-right-sidebar.html">Width right sidebar</a></li>
                                                    <li><a href="blog-1-two-sidebar.html">Width two sidebar</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="blog-2.html">Blog style 2</a></li>
                                            <li>
                                                <a href="#">Blog style 3</a>
                                                <ul>
                                                    <li><a href="blog-3-one-sidebar.html">Width one sidebar</a></li>
                                                    <li><a href="blog-3-two-sidebar.html">Width two sidebar</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Blog single</a>
                                                <ul>
                                                    <li><a href="single-1.html">Single style 1</a></li>
                                                    <li><a href="single-2.html">Single style 2</a></li>
                                                    <li><a href="single-3.html">Single style 3</a></li>
                                                    <li><a href="single-4.html">Single style 4</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="clearfix"><h3><a href="contact.html">Contact</a></h3></li>
                            </ul><!--toggle-view-menu-->
                        </div>*@<!--mobile-menu-->
                </nav>
                <div class="clearfix"></div>
            </div>
            <!-- container -->
        </div>
        <!-- top-header -->
        <div id="bottom-header" class="bottom-header nav-container">
            <div class="container wsmenucontainer clearfix nav">

                <div class="overlapblackbg"></div>


                <div class="wsmobileheader clearfix">
                    <a id="wsnavtoggle" class="animated-arrow"><span></span></a>
                    <a class="smallogo"><img src="images/logo.png" width="120" alt="" /></a>
                    <a class="callusicon" href="tel:09128238263"><span class="fa fa-phone"></span></a>
                </div>



                <div class="header">

                    <!--Main Menu HTML Code-->
                    <nav class="wsmenu clearfix">
                        <ul class="mobile-sub wsmenu-list">

                            <li>
                                <a href="#">املاک<span class="arrow"></span></a>
                                <div class="megamenu clearfix">
                                    <div class="typography-text clearfix">

                                        <div class="col-lg-2 col-sm-12">
                                        </div>
                                        

                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/املاک/خدمات-املاک">خدمات املاک</a></h3>
                                            <ul>


                                                <li><a href="/Agahi/جستجو/@Utility.CityName/املاک/خدمات-املاک/آژانس-املاک">آژانس املاک</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/املاک/خدمات-املاک/مشارکت-در-ساخت">مشارکت در ساخت</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/املاک/خدمات-املاک/امور-مالی-و-حقوقی">امور مالی و حقوقی</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/املاک/خدمات-املاک/پیش‌فروش">پیش‌فروش</a></li>
                                            </ul>
                                        </div>


                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/املاک/اجاره-اداری-و-تجاری">اجاره اداری و تجاری</a></h3>
                                            <ul>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/املاک/اجاره-اداری-و-تجاری/دفتر-کار-اتاق-اداری-و-مطب">دفتر کار، اتاق اداری و مطب</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/املاک/اجاره-اداری-و-تجاری/مغازه-و-غرفه">مغازه و غرفه</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/املاک/اجاره-اداری-و-تجاری/صنعتی-کشاورزی-و-تجاری">صنعتی،‌ کشاورزی و تجاری</a></li>
                                            </ul>

                                        </div>
                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/املاک/فروش-اداری-و-تجاری">فروش اداری و تجاری</a></h3>
                                            <ul>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/املاک/فروش-اداری-و-تجاری/دفتر-کار-اتاق-اداری-و-مطب">دفتر کار، اتاق اداری و مطب</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/املاک/فروش-اداری-و-تجاری/مغازه-و-غرفه">مغازه و غرفه</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/املاک/فروش-اداری-و-تجاری/صنعتی-کشاورزی-و-تجاری">صنعتی،‌ کشاورزی و تجاری</a></li>
                                            </ul>
                                        </div>

                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/املاک/اجاره مسکونی/">اجاره مسکونی</a></h3>
                                            <ul>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/املاک/اجاره-مسکونی/دفتر-کار-اتاق-اداری-و-مطب">آپارتمان</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/املاک/اجاره-مسکونی/دفتر-کار-اتاق-اداری-و-مطب">خانه و ویلا</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/املاک/فروش-املاک-مسکونی">فروش املاک مسکونی</a></h3>
                                            <ul>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/املاک/فروش-املاک-مسکونی/آپارتمان">آپارتمان</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/املاک/فروش-املاک-مسکونی/خانه-و-ویلا">خانه و ویلا</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/املاک/فروش-املاک-مسکونی/زمین-و-کلنگی">زمین و کلنگی</a></li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </li>




                            <li>
                                <a href="/Agahi/جستجو/@Utility.CityName/وسایل-نقلیه/">وسایل نقلیه<span class="arrow"></span></a>
                                <div class="megamenu clearfix">
                                    <div class="typography-text clearfix">






                                        <div class="col-lg-2 col-sm-12">
                                        </div>


                                        <div class="col-lg-2 col-sm-12">

                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/وسایل-نقلیه/قایق-و-لوازم-جانبی/">قایق و لوازم جانبی</a></h3>
                                            <ul>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/وسایل-نقلیه/قایق-و-لوازم-جانبی/قایق">قایق</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/وسایل-نقلیه/قایق-و-لوازم-جانبی/لوازم-جانبی-قایق">لوازم جانبی قایق</a></li>
                                            </ul>
                                        </div>


                                        <div class="col-lg-3 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/وسایل-نقلیه/موتورسیکلت-و-لوازم-جانبی/">موتورسیکلت و لوازم جانبی</a></h3>
                                            <ul>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/وسایل-نقلیه/موتورسیکلت-و-لوازم-جانبی/موتورسیکلت/">موتورسیکلت</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/وسایل-نقلیه/موتورسیکلت-و-لوازم-جانبی/لوازم-جانبی-موتورسیکلت">لوازم جانبی موتورسیکلت</a></li>
                                            </ul>
                                        </div>


                                        <div class="col-lg-3 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/وسایل-نقلیه/قطعات-یدکی-و-لوازم-جانبی-خودرو">قطعات یدکی و لوازم جانبی خودرو</a></h3>
                                            <ul>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/وسایل-نقلیه/قطعات-یدکی-و-لوازم-جانبی-خودرو/لوازم-جانبی-خودرو-سواری">لوازم جانبی خودرو سواری</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/وسایل-نقلیه/قطعات-یدکی-و-لوازم-جانبی-خودرو/لوازم-جانبی-خودرو-سنگین">لوازم جانبی خودرو سنگین</a></li>
                                            </ul>
                                        </div>


                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/وسایل-نقلیه/خودرو">خودرو</a></h3>
                                            <ul>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/وسایل-نقلیه/خودرو/سواری">سواری</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/وسایل-نقلیه/خودرو/سنگین">سنگین</a></li>
                                            </ul>
                                        </div>


                                    </div>
                                </div>
                            </li>




                            <li>
                                <a href="/Agahi/جستجو/@Utility.CityName/لوازم-الکترونیکی">لوازم الکترونیکی<span class="arrow"></span></a>
                                <div class="megamenu clearfix">
                                    <div class="typography-text clearfix">





                                        <div class="col-lg-2 col-sm-12">
                                        </div>


                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/لوازم-الکترونیکی/تلفن-رومیزی">تلفن رومیزی</a></h3>
                                            <ul>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-الکترونیکی/تلفن-رومیزی/تلفن">تلفن</a></li>
                                            </ul>
                                        </div>


                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/لوازم-الکترونیکی/کنسول-ها-و-بازی‌-ها">کنسول ها و بازی‌ ها</a></h3>
                                            <ul>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-الکترونیکی/کنسول-ها-و-بازی‌-ها/کنسول-های-بازی">کنسول های بازی</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-الکترونیکی/کنسول-ها-و-بازی‌-ها/بازی-های-ویدئویی-و-آنلاین">بازی های ویدئویی و آنلاین</a></li>
                                            </ul>
                                        </div>

                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/لوازم-الکترونیکی/صوتی-و-تصویری">صوتی و تصویری</a></h3>
                                            <ul>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-الکترونیکی/صوتی-و-تصویری/فیلم-و-موسیقی">فیلم و موسیقی</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-الکترونیکی/صوتی-و-تصویری/دوربین-عکاسی-و-فیلم‌برداری">دوربین عکاسی و فیلم‌برداری</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-الکترونیکی/صوتی-و-تصویری/پخش‌کننده-همراه">پخش‌کننده همراه</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-الکترونیکی/صوتی-و-تصویری/سیستم-صوتی-خانگی">سیستم صوتی خانگی</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-الکترونیکی/صوتی-و-تصویری/ویدئو-و-پخش کننده-DVD">ویدئو و پخش کننده DVD</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-الکترونیکی/صوتی-و-تصویری/تلویزیون-و-پروژکتور">تلویزیون و پروژکتور</a></li>
                                            </ul>
                                        </div>


                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/لوازم-الکترونیکی/رایانه">رایانه</a></h3>
                                            <ul>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-الکترونیکی/رایانه/رایانه-همراه">رایانه همراه</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-الکترونیکی/رایانه/رایانه-رومیزی">رایانه رومیزی</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-الکترونیکی/رایانه/قطعات-و-لوازم-جانبی">قطعات و لوازم جانبی</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-الکترونیکی/رایانه/مودم-و-تجهیزات-شبکه">مودم و تجهیزات شبکه</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-الکترونیکی/رایانه/پرینتر-اسکنر-کپی-فکس">پرینتر- اسکنر- کپی- فکس</a></li>
                                            </ul>
                                        </div>


                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/لوازم-الکترونیکی/موبایل-و-تبلت">موبایل و تبلت</a></h3>
                                            <ul>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-الکترونیکی/موبایل-و-تبلت/گوشی-موبایل">گوشی موبایل</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-الکترونیکی/موبایل-و-تبلت/تبلت">تبلت</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-الکترونیکی/موبایل-و-تبلت/لوازم-جانبی-موبایل-و-تبلت">لوازم جانبی موبایل و تبلت</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-الکترونیکی/موبایل-و-تبلت/سیم-کارت">سیم کارت</a></li>
                                            </ul>
                                        </div>


                                    </div>
                                </div>
                            </li>


                            <li>
                                <a href="/Agahi/جستجو/@Utility.CityName/لوازم-خانگی">لوازم خانگی<span class="arrow"></span></a>
                                <div class="megamenu clearfix">
                                    <div class="typography-text clearfix">





                                        <div class="col-lg-2 col-sm-12">
                                        </div>


                                        <div class="col-lg-2 col-sm-12">
                                        </div>

                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/لوازم-خانگی/ابزار">ابزار</a></h3>
                                            <ul>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-خانگی/ابزار/نظافت-و-خیاطی-و-اتو">نظافت و خیاطی و اتو</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-خانگی/ابزار/تعمیرات">تعمیرات</a></li>
                                            </ul>
                                        </div>

                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/لوازم-خانگی/ساختمان-و-حیاط">ساختمان و حیاط</a></h3>
                                            <ul>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-خانگی/ساختمان-و-حیاط/سرویس-بهداشتی-و-سونا">سرویس بهداشتی و سونا</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-خانگی/ساختمان-و-حیاط/سیستم-گرمایشی-سرمایشی-و-گاز">سیستم گرمایشی سرمایشی و گاز</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-خانگی/ساختمان-و-حیاط/آشپزخانه">آشپزخانه</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-خانگی/ساختمان-و-حیاط/حیاط-و-ایوان">حیاط و ایوان</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-خانگی/ساختمان-و-حیاط/ابزار-باغبانی">ابزار باغبانی</a></li>
                                            </ul>
                                        </div>




                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/لوازم-خانگی/وسایل-آشپزخانه">وسایل آشپزخانه</a></h3>
                                            <ul>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-خانگی/وسایل-آشپزخانه/ماشین-ظرفشویی">ماشین ظرفشویی</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-خانگی/وسایل-آشپزخانه/یخچال-و-فریزر">یخچال و فریزر</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-خانگی/وسایل-آشپزخانه/وسایل-آشپزی-و-غذاخوری">وسایل آشپزی و غذاخوری</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-خانگی/وسایل-آشپزخانه/مایکروویو-و-گاز">مایکروویو و گاز</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-خانگی/وسایل-آشپزخانه/ماشین-لباسشویی-و-خشک-کننده">ماشین لباسشویی و خشک کننده</a></li>
                                            </ul>
                                        </div>


                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/لوازم-خانگی/وسایل-و-تزئینات-خانه">وسایل و تزئینات خانه</a></h3>
                                            <ul>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-خانگی/وسایل-و-تزئینات-خانه/تزئینی-و-آثار-هنری">تزئینی و آثار هنری</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-خانگی/وسایل-و-تزئینات-خانه/لوازم-روشنایی">لوازم روشنایی</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-خانگی/وسایل-و-تزئینات-خانه/میز-و-صندلی">میز و صندلی</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-خانگی/وسایل-و-تزئینات-خانه/فرش-و-گلیم">فرش و گلیم</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-خانگی/وسایل-و-تزئینات-خانه/کمد-و-بوفه">کمد و بوفه</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-خانگی/وسایل-و-تزئینات-خانه/پرده-و-رومیزی">پرده و رومیزی</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-خانگی/وسایل-و-تزئینات-خانه/تخت-و-اتاق-خواب">تخت و اتاق خواب</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-خانگی/وسایل-و-تزئینات-خانه/مبلمان-و-صندلی-راحتی">مبلمان و صندلی راحتی</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-خانگی/وسایل-و-تزئینات-خانه/میز-تلویزیون-و-وسایل-سیستم-پخش">میز تلویزیون و وسایل سیستم پخش</a></li>
                                            </ul>
                                        </div>


                                    </div>
                                </div>
                            </li>



                            <li>
                                <a href="/Agahi/جستجو/@Utility.CityName/خدمات">خدمات<span class="arrow"></span></a>
                                <div class="megamenu clearfix">
                                    <div class="typography-text clearfix">


                                        <div class="col-lg-2 col-sm-12">
                                        </div>


                                        <div class="col-lg-2 col-sm-12">

                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/خدمات/باغبانی-و-درختکاری">باغبانی و درختکاری</a></h3>
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/خدمات/نظافت">نظافت</a></h3>
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/خدمات/آرایشگری-و-زیبایی">آرایشگری و زیبایی</a></h3>
                                        </div>



                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/خدمات/سرگرمی">سرگرمی</a></h3>
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/خدمات/پیشه-و-مهارت">پیشه و مهارت</a></h3>
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/خدمات/حمل-و-نقل">حمل و نقل</a></h3>
                                        </div>


                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/خدمات/موتور-و-ماشین">موتور و ماشین</a></h3>
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/خدمات/پذیرایی-مراسم">پذیرایی/مراسم</a></h3>
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/خدمات/مالی-حسابداری-بیمه">مالی/حسابداری/بیمه</a></h3>
                                        </div>

                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/خدمات-رایانه‌ای-و-موبایل">خدمات رایانه‌ای و موبایل</a></h3>
                                            <ul>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/خدمات-رایانه‌ای-و-موبایل/فروش-دامنه-و-سایت">فروش دامنه و سایت</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/خدمات-رایانه‌ای-و-موبایل/میزبانی-و-طراحی-سایت">میزبانی و طراحی سایت</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/خدمات-رایانه‌ای-و-موبایل/خدمات-پهنای-باند-اینترنت">خدمات پهنای باند اینترنت</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/خدمات-رایانه‌ای-و-موبایل/خدمات-نرم‌افزار-و-سخت‌افزار-کامپیوتر">خدمات نرم‌افزار و سخت‌افزار کامپیوتر</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/خدمات-رایانه‌ای-و-موبایل/تعمیرات-نرم‌افزار-و-سخت‌افزار-گوشی-موبایل">تعمیرات نرم‌افزار و سخت‌افزار گوشی موبایل</a></li>
                                            </ul>
                                        </div>


                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/آموزش">آموزشی</a></h3>
                                            <ul>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/آموزش/زبان-خارجی">زبان خارجی</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/آموزش/دروس مدرسه-و-دانشگاه">دروس مدرسه و دانشگاه</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/آموزش/نرم-افزار">نرم افزار</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/آموزش/هنری">هنری</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/آموزش/ورزشی">ورزشی</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/آموزش/مشاوره-تحصیلی">مشاوره تحصیلی</a></li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </li>



                            <li>
                                <a href="/Agahi/جستجو/@Utility.CityName/لوازم-شخصی">لوازم شخصی<span class="arrow"></span></a>
                                <div class="megamenu clearfix">
                                    <div class="typography-text clearfix">





                                        <div class="col-lg-2 col-sm-12">
                                        </div>





                                        <div class="col-lg-2 col-sm-12">
                                        </div>


                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/لوازم-شخصی/کفش-و-لباس-بچه">کفش و لباس بچه</a></h3>
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/لوازم-شخصی/آرایشی،-بهداشتی-و-درمانی">آرایشی، بهداشتی و درمانی</a></h3>
                                        </div>


                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/لوازم-شخصی/تزیینی">تزیینی</a></h3>
                                            <ul>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-شخصی/تزیینی/ساعت">ساعت</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-شخصی/تزیینی/جواهرات">جواهرات</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-شخصی/تزیینی/بدلیجات">بدلیجات</a></li>
                                            </ul>
                                        </div>


                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/لوازم-شخصی/کیف،-کفش-و-لباس">کیف، کفش و لباس</a></h3>
                                            <ul>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-شخصی/کیف،-کفش-و-لباس/کیف-کفش-کمربند">کیف/کفش/کمربند</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-شخصی/کیف،-کفش-و-لباس/لباس">لباس</a></li>
                                            </ul>
                                        </div>

                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/لوازم-شخصی/وسایل-بچه-و-اسباب-بازی">وسایل بچه و اسباب بازی</a></h3>
                                            <ul>

                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-شخصی/وسایل-بچه-و-اسباب-بازی/اسباب-بازی">اسباب بازی</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-شخصی/وسایل-بچه-و-اسباب-بازی/کالسکه-و-لوازم-جانبی">کالسکه و لوازم جانبی</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-شخصی/وسایل-بچه-و-اسباب-بازی/صندلی-بچه">صندلی بچه</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/لوازم-شخصی/وسایل-بچه-و-اسباب-بازی/اسباب-و-اثاث-بچه">اسباب و اثاث بچه</a></li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </li>



                            <li>
                                <a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/">سرگرمی و فراغت<span class="arrow"></span></a>
                                <div class="megamenu clearfix">
                                    <div class="typography-text clearfix">



                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/کلکسیون-و-سرگرمی">کلکسیون و سرگرمی</a></h3>
                                            <ul>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/کلکسیون-و-سرگرمی/سکه،-تمبر-و-اسکناس">سکه، تمبر و اسکناس</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/کلکسیون-و-سرگرمی/اشیای-عتیقه">اشیای عتیقه</a></li>
                                            </ul>

                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/کلکسیون-و-سرگرمی/اسباب‌-بازی">اسباب‌ بازی</a></h3>
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/کلکسیون-و-سرگرمی/تور--چارتر">تور و چارتر</a></h3>
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/کلکسیون-و-سرگرمی/دوچرخه-اسکیت-اسکوتر">دوچرخه/اسکیت/اسکوتر</a></h3>
                                        </div>


                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/کتاب-و-مجله">کتاب و مجله</a></h3>
                                            <ul>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/کتاب-و-مجله/آموزشی">آموزشی</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/کتاب-و-مجله/ادبی">ادبی</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/کتاب-و-مجله/تاریخی">تاریخی</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/کتاب-و-مجله/مذهبی">مذهبی</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/کتاب-و-مجله/مجلات">مجلات</a></li>
                                            </ul>

                                        </div>


                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/آلات-موسیقی">آلات موسیقی</a></h3>
                                            <ul>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/آلات-موسیقی/گیتار،-بیس-و-امپلیفایر">گیتار، بیس و امپلیفایر</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/آلات-موسیقی/سازهای-بادی">سازهای بادی</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/آلات-موسیقی/پیانو-کیبورد-آکاردئون">پیانو/کیبورد/آکاردئون</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/آلات-موسیقی/سنتی">سنتی</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/آلات-موسیقی/درام-و-پرکاشن">درام و پرکاشن</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/آلات-موسیقی/ویولن">ویولن</a></li>
                                            </ul>
                                        </div>




                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/حیوانات">حیوانات</a></h3>
                                            <ul>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/حیوانات/گربه">گربه</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/حیوانات/موش-و-خرگوش">موش و خرگوش</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/حیوانات/خزنده">خزنده</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/حیوانات/پرنده">پرنده</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/حیوانات/ماهی">ماهی</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/حیوانات/لوازم-جانبی">لوازم جانبی</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/حیوانات/حیوانات-مزرعه">حیوانات مزرعه</a></li>
                                            </ul>
                                        </div>




                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/بلیط">بلیط</a></h3>
                                            <ul>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/بلیط/کنسرت">کنسرت</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/بلیط/تئاتر-و-سینما">تئاتر و سینما</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/بلیط/کارت-هدیه-و-تخفیف">کارت هدیه و تخفیف</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/بلیط/اماکن-و-مسابقات-ورزشی">اماکن و مسابقات ورزشی</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/بلیط/ورزشی">ورزشی</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/بلیط/اتوبوس،-مترو-و-قطار">اتوبوس، مترو و قطار</a></li>
                                            </ul>
                                        </div>


                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/ورزش-و-تناسب-اندام">ورزش و تناسب اندام</a></h3>
                                            <ul>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/ورزش-و-تناسب-اندام/ورزش‌های-توپی">ورزش‌های توپی</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/ورزش-و-تناسب-اندام/کوهنوردی-و-کمپینگ">کوهنوردی و کمپینگ</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/ورزش-و-تناسب-اندام/غواصی-و-ورزش‌های-آبی">غواصی و ورزش‌های آبی</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/ورزش-و-تناسب-اندام/ماهیگیری">ماهیگیری</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/ورزش-و-تناسب-اندام/تجهیزات-ورزشی">تجهیزات ورزشی</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/ورزش-و-تناسب-اندام/ورزش‌های-زمستانی">ورزش‌های زمستانی</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/سرگرمی-و-فراغت/ورزش-و-تناسب-اندام/اسب-و-تجهیزات-اسب-سواری">اسب و تجهیزات اسب سواری</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>



                            <li>
                                <a href="/Agahi/جستجو/@Utility.CityName/اجتماعی">اجتماعی<span class="arrow"></span></a>
                                <div class="megamenu clearfix">
                                    <div class="typography-text clearfix">



                                        <div class="col-lg-2 col-sm-12">
                                        </div>


                                        <div class="col-lg-2 col-sm-12">
                                        </div>


                                        <div class="col-lg-2 col-sm-12">
                                        </div>



                                        <div class="col-lg-2 col-sm-12">
                                        </div>



                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/اجتماعی/داوطلبانه">داوطلبانه</a></h3>
                                            <ul>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/اجتماعی/داوطلبانه/خیریه-و-کمک-رسانی">خیریه و کمک رسانی</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/اجتماعی/داوطلبانه/تحقیقاتی">تحقیقاتی</a></li>
                                            </ul>
                                        </div>


                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/اجتماعی/رویداد">رویداد</a></h3>
                                            <ul>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/اجتماعی/رویداد/حراج">حراج</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/اجتماعی/رویداد/گردهمایی-و-همایش">گردهمایی و همایش</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/اجتماعی/رویداد/موسیقی-و-تئاتر">موسیقی و تئاتر</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/اجتماعی/رویداد/ورزشی">ورزشی</a></li>
                                            </ul>
                                        </div>


                                    </div>
                                </div>
                            </li>



                            <li>
                                <a href="/Agahi/جستجو/@Utility.CityName/کسب-و-کار">کسب و کار<span class="arrow"></span></a>
                                <div class="megamenu clearfix">
                                    <div class="typography-text clearfix">



                                        <div class="col-lg-2 col-sm-12">
                                        </div>



                                        <div class="col-lg-2 col-sm-12">
                                        </div>


                                        <div class="col-lg-2 col-sm-12">
                                        </div>



                                        <div class="col-lg-2 col-sm-12">
                                        </div>



                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/کسب-و-کار/عمده-فروشی">عمده فروشی</a></h3>
                                        </div>


                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/کسب-و-کار/تجهیزات-و-ماشین‌آلات">تجهیزات و ماشین‌آلات</a></h3>
                                            <ul>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/کسب-و-کار/تجهیزات-و-ماشین‌آلات/فروشگاه-و-مغازه">فروشگاه و مغازه</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/کسب-و-کار/تجهیزات-و-ماشین‌آلات/آرایشگاه-و-سالن‌های-زیبایی">آرایشگاه و سالن‌های زیبایی</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/کسب-و-کار/تجهیزات-و-ماشین‌آلات/دفتر-کار">دفتر کار</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/کسب-و-کار/تجهیزات-و-ماشین‌آلات/صنعتی">صنعتی</a></li>
                                                <li><a href="/Agahi/جستجو/@Utility.CityName/کسب-و-کار/تجهیزات-و-ماشین‌آلات/کافی‌شاپ-و-رستوران">کافی‌شاپ و رستوران</a></li>
                                            </ul>
                                        </div>


                                    </div>
                                </div>
                            </li>




                            <li>
                                <a href="/Agahi/جستجو/@Utility.CityName/استخدام">استخدام<span class="arrow"></span></a>
                                <div class="megamenu clearfix">
                                    <div class="typography-text clearfix">



                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/استخدام/هنری-و-رسانه">هنری و رسانه</a></h3>
                                        </div>


                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/استخدام/درمانی-و-زیبایی-و-بهداشتی">درمانی و زیبایی و بهداشتی</a></h3>
                                        </div>


                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/استخدام/حمل-و-نقل">حمل و نقل</a></h3>
                                        </div>


                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/استخدام/آموزشی">آموزشی</a></h3>
                                        </div>


                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/استخدام/صنعتی-و-فنی-و-مهندسی">صنعتی و فنی و مهندسی</a></h3>
                                        </div>


                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/استخدام/بازاریابی-و-فروش">بازاریابی و فروش</a></h3>
                                        </div>

                                        <div class="cl"></div>


                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/استخدام/مالی-و-حسابداری-و-حقوقی">مالی و حسابداری و حقوقی</a></h3>
                                        </div>


                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/استخدام/رایانه-و-فناوری-اطلاعات">رایانه و فناوری اطلاعات</a></h3>
                                        </div>


                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/استخدام/خدمات-فروشگاه-و-رستوران">خدمات فروشگاه و رستوران</a></h3>
                                        </div>


                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/استخدام/معماری،-عمران-و-ساختمان">معماری، عمران و ساختمان</a></h3>
                                        </div>


                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/استخدام/سرایداری-و-نظافت">سرایداری و نظافت</a></h3>
                                        </div>


                                        <div class="col-lg-2 col-sm-12">
                                            <h3 class="title"><a href="/Agahi/جستجو/@Utility.CityName/استخدام/اداری-و-مدیریت">اداری و مدیریت</a></h3>
                                        </div>


                                    </div>
                                </div>
                            </li>



                            <li>
                                <a href="#">جستجو<i class="fa fa-search top-1"></i></a>
                                <div class="megamenu halfdiv">
                                    <h3 class="title">کلمه مورد نظر خود را وارد کنید</h3>
                                    <form name="contact_name" class="menu_form">
                                        <input type="text" placeholder="پژو سفید">
                                        <input type="button" value="جستجو">
                                        <input type="submit" value="انصراف">
                                    </form>
                                    <div class="cl"></div>
                                </div>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>
            <!-- container -->
        </div>
        <!-- bottom-header -->
    </header>
    <!-- header-page -->
    <div id="content" class="container clearfix">


        <nav id="leftCol" class="main-menu">
            <div>
                <a class="logo" href="#">
                </a>
            </div>

            <div class="scrollbar" id="style-1">

                <ul>
                    <li class="colortitle">
                        <a href="/Khabar/دسته-بندی/ورزشی/">
                            <i class="fa sidebartitle">اخبار</i>
                            <span class="nav-text"></span>
                        </a>
                    </li>
                    <li>
                        <a href="/Khabar/دسته-بندی/ورزشی/">
                            <i class="fa fa-futbol-o fa-lg"></i>
                            <span class="nav-text">ورزشی</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Khabar/دسته-بندی/سیاسی/">
                            <i class="fa fa-bomb fa-lg"></i>
                            <span class="nav-text">سیاسی</span>
                        </a>
                    </li>
                    <li class="darkerlishadow">
                        <a href="/Khabar/دسته-بندی/حوادث/">
                            <i class="fa fa-ambulance fa-lg"></i>
                            <span class="nav-text">حوادث</span>
                        </a>
                    </li>
                    <li class=" darkerlishadowdown">
                        <a href="/Khabar/دسته-بندی/علمی پزشکی/">
                            <i class="fa fa-medkit fa-lg"></i>
                            <span class="nav-text">علمی پزشکی</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/Khabar/دسته-بندی/استخدام/">
                            <i class="fa fa-address-card-o fa-lg"></i>
                            <span class="nav-text">استخدام</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Khabar/دسته-بندی/اقتصادی/">
                            <i class="fa fa-money fa-lg"></i>
                            <span class="nav-text">اقتصادی</span>
                        </a>
                    </li>
                    <li class="darkerlishadow">
                        <a href="/Khabar/دسته-بندی/فناوری/">
                            <i class="fa fa-desktop fa-lg"></i>
                            <span class="nav-text">فناوری</span>
                        </a>
                    </li>
                    <li class="darkerlishadowdown">

                        <a href="/Khabar/دسته-بندی/فرهنگ و هنر/">
                            <i class="fa fa-book fa-lg"></i>
                            <span class="nav-text">فرهنگ و هنر</span>
                        </a>
                    </li>

                    <li>
                        <a href="/Khabar/دسته-بندی/اجتماعی/">
                            <i class="fa fa-puzzle-piece fa-lg"></i>
                            <span class="nav-text">اجتماعی</span>

                        </a>
                    </li>
                    <li>
                        <a href="/Khabar/دسته-بندی/بین المللی/">
                            <i class="fa fa-globe fa-lg"></i>
                            <span class="nav-text">بین المللی</span>

                        </a>
                    </li>
                    <li class="darkerlishadow">
                        <a href="/Khabar/دسته-بندی/گوناگون/">
                            <i class="fa fa-outdent fa-lg"></i>
                            <span class="nav-text">گوناگون</span>

                        </a>
                    </li>
                    <li class="darkerlishadowdown">
                        <a href="/Khabar/دسته-بندی/تصویری/">
                            <i class="fa fa-picture-o fa-lg"></i>
                            <span class="nav-text">تصویری</span>

                        </a>
                    </li>
                    <li>
                        <a href="/Khabar/دسته-بندی/سینمایی/">
                            <i class="fa fa-film fa-lg"></i>
                            <span class="nav-text">سینمایی</span>

                        </a>
                    </li>
                    <li>
                        <a href="/Khabar/دسته-بندی/گردشگری/">
                            <i class="fa fa-plane fa-lg"></i>
                            <span class="nav-text">گردشگری</span>

                        </a>
                    </li>
                    <li class="darkerlishadow">
                        <a href="/Khabar/دسته-بندی/خودرو/">
                            <i class="fa fa-car fa-lg"></i>
                            <span class="nav-text">خودرو</span>

                        </a>
                    </li>
                    <li class="darkerlishadowdown">
                        <a href="/Khabar/دسته-بندی/دانلود/">
                            <i class="fa fa-download fa-lg"></i>
                            <span class="nav-text">دانلود</span>

                        </a>
                    </li>
                    <li>
                        <a href="/Khabar/دسته-بندی/آشپزی/">
                            <i class="fa fa-cutlery fa-lg"></i>
                            <span class="nav-text">آشپزی</span>

                        </a>
                    </li>
                </ul>

            </div>

        </nav>



        @RenderBody()


    </div>
  
    
    <!-- container -->
    <div id="bottom-sidebar">
        <div class="container clearfix">
            <div class="row">
                <div class="col-md-3">

                    <a href="#"><img src="~/images/logo.png" alt="" /></a>
                    <div class="widget widget-text">
                        <p>وب سایت IGreenNews با هدف فزونی بخشی و سهولت دستیابی به اخبار توسط کارشناسان حرفه ای تاسیس گردیده است.</p>
                    </div>







                    <div class="well" id="type-btn-bar">
                        <a class="btn btn-success" data-status="success" data-msg="داداش ایران ریییییییییییییید">notify</a>
                    </div>












                </div>
                <div class="col-md-3">
                    <div class="widget widget_categories">
                        <h2 class="widget-title"></h2>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">منابع خبری</a>
                            </li>
                            <li>
                                <a href="#">موضوعات خبری</a>
                            </li>
                            <li>
                                <a href="#">آخرین اخبار در سایت شما</a>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="widget widget_pages">
                        <h2 class="widget-title"></h2>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">خدمات سئو</a>
                            </li>
                            <li>
                                <a href="#">درباره ما</a>
                            </li>
                            <li>
                                <a href="#">تماس با ما</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="widget widget-contact">
                        <h2 class="widget-title">راه های ارتباطی</h2>
                        <div class="widget-content">
                            <ul class="list-unstyled">
                                <li class="clearfix"><span class="fa fa-map-marker pull-left"></span>تهران، میدان ونک</li>
                                <li class="clearfix"><span class="fa fa-phone pull-left"></span>+98(021)77166964</li>
                                <li class="clearfix"><span class="fa fa-envelope pull-left"></span><a href="mailto:info@igreennews.com">info@igreennews.com</a> </li>
                                <li class="clearfix"><span class="fa fa-rss  pull-left"></span><a href="rss">rss</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- container -->
    </div>
 
    
    <!-- bottom-sidebar -->
    <footer id="page-footer">

        <div class="container">
            <div class="">
                <div class="copy pull-left">
                    <p><span>تمامی حقوق این وبسایت متعلق به شرکت <a href="http://igreennews.com/">IGN</a> میباشد</span></p>
                </div>
                <div class="soc_icons pull-right">
                    <ul class="list-unstyled text-center">
                        <li><a href="http://instagram.com/"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="http://telegram.me/"><i class="fa fa-telegram"></i></a></li>
                        <li><a href="http://facebook.com/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="http://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://plus.google.com/"><i class="fa fa-google"></i></a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </footer>


    <!-- Bottom Toolbar-->
    <div class="views">
        <div class="toolbar">
            <div class="toolbar-inner">
                <ul class="toolbar_icons">
                    <li><a href="/Agahi/جستجو" data-panel="left" class="open-panel"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                    <li><a href="/Agahi/جستجو"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                    <li class="menuicon"><a href="/Agahi/جستجو"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                    <li><a href="/Agahi/جستجو"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                    <li><a href="/Agahi/جستجو"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

  


    <!-- page footer -->

    <span class="back-to-top fa fa-chevron-up"></span>

    <!-- Login Form Start -->


    <div class="modal fade" id="loginFormModal" tabindex="-1" role="dialog" aria-labelledby="loginForm">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="loginForm">
                    <div class="mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title mdl-card--expand">
                            <div class="modal--logo">
                                <img src="img/logo.png" alt="">
                            </div>
                        </div>
                        <div class="mdl-card__supporting-text">

                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="text" name="loginUsername" id="loginUsername">
                                <label class="mdl-textfield__label" for="loginUsername">نام کاربری</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="password" name="loginPassword" id="loginPassword">
                                <label class="mdl-textfield__label" for="loginPassword">کلمه عبور</label>
                            </div>

                            <button type="button" id="btnLogin" class="login-form-submit-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">ورود</button>

                        </div>
                        <div class="mdl-card__actions mdl-card--border clearfix">
                            <a href="#" class="pull-left mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" data-toggle="modal" data-target="#forgotFormModal" data-dismiss="modal">
                                رمز عبور خود را فراموش کرده اید؟
                            </a>
                            <a href="#" class="pull-right mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" data-toggle="modal" data-target="#signupFormModal" data-dismiss="modal">
                                ساخت اکانت کاربری
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login Form End -->
    <!-- Signup Form Start -->
    <div class="modal fade" id="signupFormModal" tabindex="-1" role="dialog" aria-labelledby="signupFormModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="signupForm">
                    <div class="mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title mdl-card--expand">
                            <div class="modal--logo">
                                <img src="img/logo.png" alt="">
                            </div>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <form action="#" method="post" id="signupForm">
                                <div class="mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="text" name="singupName" id="singupName">
                                    <label class="mdl-textfield__label" for="singupName">نام و نام خانوادگی</label>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="text" name="singupUsername" id="singupUsername">
                                    <label class="mdl-textfield__label" for="singupUsername">نام کاربری</label>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="text" name="singupEmail" id="singupEmail">
                                    <label class="mdl-textfield__label" for="singupEmail">ایمیل</label>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="password" name="singupPassword" id="singupPassword">
                                    <label class="mdl-textfield__label" for="singupPassword">کلمه عبور</label>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="password" name="singupPasswordAgain" id="singupPasswordAgain">
                                    <label class="mdl-textfield__label" for="singupPasswordAgain">تکرار کلمه عبور</label>
                                </div>

                                <button type="submit" class="singup-form-submit-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">ثبت نام</button>
                            </form>
                        </div>
                        <div class="mdl-card__actions mdl-card--border clearfix">
                            <p class="pull-left">عضو این سایت هستید؟</p>
                            <a href="#" class="pull-right mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" data-toggle="modal" data-target="#loginFormModal" data-dismiss="modal">
                                ورود
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Signup Form End -->
    <!-- Forgot Form Start -->
    <div class="modal fade" id="forgotFormModal" tabindex="-1" role="dialog" aria-labelledby="signupFormModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="forgotForm">
                    <div class="mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title mdl-card--expand">
                            <div class="modal--logo">
                                <img src="img/logo.png" alt="">
                            </div>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <form action="#" method="post" id="forgotForm">
                                <div class="mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="text" name="forgotEmail" id="forgotEmail">
                                    <label class="mdl-textfield__label" for="forgotEmail">ایمیل</label>
                                </div>

                                <button type="submit" class="forgot-form-submit-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">ارسال صفحه تغییر کلمه عبور به ایمیل</button>
                            </form>
                        </div>
                        <div class="mdl-card__actions mdl-card--border clearfix">
                            <p class="pull-left">عضو سایت نیستید؟</p>
                            <a href="#" class="pull-right mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" data-toggle="modal" data-target="#signupFormModal" data-dismiss="modal">
                                ثبت نام
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Forgot Form End -->
    <!-- Subscribe Form Start -->
    <div class="modal fade" id="subscribeFormModal" tabindex="-1" role="dialog" aria-labelledby="subscribeFormModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="subscribeForm">
                    <div class="mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title mdl-card--expand">
                            <div class="modal--logo">
                                <img src="img/logo.png" alt="">
                            </div>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <form action="#" method="post" id="subscribeForm">
                                <div class="mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="text" name="subscribeEmail" id="subscribeEmail">
                                    <label class="mdl-textfield__label" for="subscribeEmail">ایمیل</label>
                                </div>

                                <button type="submit" class="subscribe-form-submit-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">اشتراک در خبرنامه</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Subscribe Form End -->
    <!-- Contact Form Start -->
    <div class="modal fade" id="contactFormModal" tabindex="-1" role="dialog" aria-labelledby="contactFormModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="contactForm">
                    <div class="mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title mdl-card--expand">
                            <div class="modal--logo">
                                <img src="img/logo.png" alt="">
                            </div>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <form action="sendmail.php" method="post" id="contactForm">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mdl-textfield mdl-js-textfield">
                                            <input class="mdl-textfield__input" type="text" name="contactName" id="contactName">
                                            <label class="mdl-textfield__label" for="contactName">نام و نام خانوادگی</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mdl-textfield mdl-js-textfield">
                                            <input class="mdl-textfield__input" type="text" name="contactEmail" id="contactEmail">
                                            <label class="mdl-textfield__label" for="contactEmail">ایمیل</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="text" name="contactSubject" id="contactSubject">
                                    <label class="mdl-textfield__label" for="contactSubject">موضوع</label>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield">
                                    <textarea class="mdl-textfield__input" name="contactMessage" id="contactMessage"></textarea>
                                    <label class="mdl-textfield__label" for="contactMessage">متن پیام</label>
                                </div>

                                <button type="submit" class="contact-form-submit-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">ارسال</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact Form End -->




</body>
</html>



<script src="~/js/jquery.min.js"></script>
<script src="~/js/jquery-ui.min.js"></script>



<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/material.min.js"></script>
<script src="~/js/jquery.validate.min.js"></script>
<script src="~/js/mainlogin.js"></script>

<script src="~/js/jquery.kanNotify.js"></script>



<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<script>
    $(document).ready(function () {
        $('#s').keyup(function () {
            var valThis = $(this).val().toLowerCase();
            $('.countryList>li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) == 0) ? $(this).show() : $(this).hide();
            });
        });
    });
</script>

<script>




    document.addEventListener("touchstart", function () { }, false);
    $(function () {
        $('#wsnavtoggle').click(function () {
            $('.wsmenucontainer').toggleClass('wsoffcanvasopener');
        });
        $('.overlapblackbg').click(function () {
            $('.wsmenucontainer').removeClass('wsoffcanvasopener');
        });

        $('.wsmenu-list> li').has('.wsmenu-submenu').prepend('<span class="wsmenu-click"><i class="wsmenu-arrow fa fa-angle-down"></i></span>');
        $('.wsmenu-list > li').has('.megamenu').prepend('<span class="wsmenu-click"><i class="wsmenu-arrow fa fa-angle-down"></i></span>');
        $('.wsmenu-click').click(function () {
            $(this).toggleClass('ws-activearrow')
                .parent().siblings().children().removeClass('ws-activearrow');
            $(".wsmenu-submenu, .megamenu").not($(this).siblings('.wsmenu-submenu, .megamenu')).slideUp('slow');
            $(this).siblings('.wsmenu-submenu').slideToggle('slow');
            $(this).siblings('.megamenu').slideToggle('slow');
        });

        $('.wsmenu-list > li > ul > li').has('.wsmenu-submenu-sub').prepend('<span class="wsmenu-click02"><i class="wsmenu-arrow fa fa-angle-down"></i></span>');
        $('.wsmenu-list > li > ul > li > ul > li').has('.wsmenu-submenu-sub-sub').prepend('<span class="wsmenu-click02"><i class="wsmenu-arrow fa fa-angle-down"></i>	</span>');

        $('.wsmenu-click02').click(function () {
            $(this).children('.wsmenu-arrow').toggleClass('wsmenu-rotate');
            $(this).siblings('.wsmenu-submenu-sub').slideToggle('slow');
            $(this).siblings('.wsmenu-submenu-sub-sub').slideToggle('slow');

        });

    });


    $(document).ready(function () {
        $(".fa-power-off").unbind();
        $(".fa-power-off").bind('click', function () {

            $.ajax({
                type: 'GET',
                url: '/Home/LogOut',
                data: {},
                cache: false,
                success: function (result) {

                }
            });

        });


        $("#btnLogin").click(function () {
            var username = $("#loginUsername").val();
            var pass = $("#loginPassword").val();

            //alert(username + pass);

            var q = CheckLogin(username, pass);
        })

        $('#type-btn-bar .btn').click(function () {
            var msg = $(this).data('msg');
            var type = $(this).data('status');

            $.kanNotify.add({
                msg: msg,
                type: type
            });
        })


        function CheckLogin(username, pass) {

            $.ajax({
                type: 'GET',
                url: '/Home/CheckUser',
                data: { username: username, pass: pass },
                cache: false,
                success: function (result) {

                    var users = $.parseJSON(result);
                    jQuery.ajax({
                        type: "POST",
                        url: "/Home/Login",
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        data: users,
                        success: function (data) {

                            var url = "/Home/Index";
                            window.location.href = url;

                        },
                        failure: function (errMsg) {

                            alert(errMsg);
                        }
                    });
                }
            });
        }


        

            var nav = $('.nav-container');

            $(window).scroll(function () {
                if ($(this).scrollTop() > 136) {
                    nav.addClass("f-nav");
                } else {
                    nav.removeClass("f-nav");
                }
            });



    });






</script>


@RenderSection("Script", true)

