@using IGN.Models;

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link href="~/css/app.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/material-kit.css" rel="stylesheet" />

    @*-L0gin-*@
    <link href="~/css/material.min.css" rel="stylesheet" />
    <link href="~/css/styleLogin.css" rel="stylesheet" />
    <link href="~/css/main-color-login.css" rel="stylesheet" />



    <link href="~/css/SideBarmenu.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/jquery-ui.css" rel="stylesheet" />


    <link rel="stylesheet" href="~/css/superfish.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/responsive.css" />



    <link href="~/css/kanNotify.css" rel="stylesheet" />




    @RenderSection("Head", true)

    <title>Zoombi</title>






    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body class="kp-home ">
    <header id="header-page ">

   

            <div class="top-header">
                <div class="container">
                    <div id="logo">
                        <a href="/"><img src="~/images/logo.png" alt="logo" /></a>
                    </div>
                    <nav class="pull-right">
                        <ul class="sf-menu" id="main-menu">

                            <li>
                                <a href="/Ads/جستجو_آگهی">جستجو آگهی</a>
                            </li>
                            <li>
                                <a href="/Ads/آگهی_های_من">آگهی های من</a>
                            </li>
                            <li class="current-item-menu">
                                <a href="/Ads/ثبت_آگهی">ثبت آگهی رایگان</a>
                            </li>
                            <li>
                                @{


                                    if (Utility.CurrentUser != null)
                                    {

                                        <a id="Loginned" href="" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                                            <i class="login-icon fa fa-user"></i>


                                            @Utility.CurrentUser.NickName

                                            <i class="login-icon fa fa-power-off zindex1000"></i>
                                        </a>

                                    }
                                    else
                                    {
                                        <a id="LoginInfo" href="" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" data-toggle="modal" data-target="#loginFormModal">
                                            <i class="login-icon fa fa-user"></i>ورود

                                        </a>
                                    }

                                }

                            </li>
                        </ul>
                    @*    <div id="mobile-menu">
                            <span>Menu</span>
                            <ul id="toggle-view-menu">
                                <li class="clearfix">
                                    <h3><a href="#">Home</a></h3>
                                    <span>+</span>
                                    <div class="clearfix"></div>
                                    <div class="menu-panel clearfix">
                                        <ul>
                                            <li><a href="index.html">Index style 1</a></li>
                                            <li><a href="index-2.html">Index style 2</a></li>
                                            <li><a href="index-3.html">Index style 3</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <h3><a href="#">Pages</a></h3>
                                    <span>+</span>
                                    <div class="clearfix"></div>
                                    <div class="menu-panel clearfix">
                                        <ul>
                                            <li><a href="about.html">About page</a></li>
                                            <li><a href="elements.html">Elements page</a></li>
                                            <li><a href="404.html">404 page</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <h3><a href="#">Blog</a></h3>
                                    <span>+</span>
                                    <div class="clearfix"></div>
                                    <div class="menu-panel clearfix">
                                        <ul>
                                            <li>
                                                <a href="#">Blog style 1</a>
                                                <ul>
                                                    <li><a href="blog-1-left-sidebar.html">Width left sidebar</a></li>
                                                    <li><a href="blog-1-right-sidebar.html">Width right sidebar</a></li>
                                                    <li><a href="blog-1-two-sidebar.html">Width two sidebar</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="blog-2.html">Blog style 2</a></li>
                                            <li>
                                                <a href="#">Blog style 3</a>
                                                <ul>
                                                    <li><a href="blog-3-one-sidebar.html">Width one sidebar</a></li>
                                                    <li><a href="blog-3-two-sidebar.html">Width two sidebar</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Blog single</a>
                                                <ul>
                                                    <li><a href="single-1.html">Single style 1</a></li>
                                                    <li><a href="single-2.html">Single style 2</a></li>
                                                    <li><a href="single-3.html">Single style 3</a></li>
                                                    <li><a href="single-4.html">Single style 4</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="clearfix"><h3><a href="contact.html">Contact</a></h3></li>
                            </ul><!--toggle-view-menu-->
                        </div>*@<!--mobile-menu-->
                    </nav>
                    <div class="clearfix"></div>
                </div>
                <!-- container -->
            </div>
            <!-- top-header -->
            <div class="bottom-header">
                <div class="container wsmenucontainer clearfix">

                    <div class="overlapblackbg"></div>


                    <div class="wsmobileheader clearfix">
                        <a id="wsnavtoggle" class="animated-arrow"><span></span></a>
                        <a class="smallogo"><img src="images/logo.png" width="120" alt="" /></a>
                        <a class="callusicon" href="tel:123456789"><span class="fa fa-phone"></span></a>
                    </div>



                    <div class="header">

                        <!--Main Menu HTML Code-->
                        <nav class="wsmenu clearfix">
                            <ul class="mobile-sub wsmenu-list">
                                
                                <li>
                                    <a href="#">املاک<span class="arrow"></span></a>
                                    <div class="megamenu clearfix">
                                        <div class="typography-text clearfix">




                                            <div class="col-lg-2 col-sm-12">

                                            </div>

                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="#">خدمات املاک</a></h3>
                                                <ul>
                                                    <li><a href="#">آژانس املاک</a></li>
                                                    <li><a href="#">مشارکت در ساخت</a></li>
                                                    <li><a href="#">امور مالی و حقوقی</a></li>
                                                    <li><a href="#">پیش‌فروش</a></li>
                                                </ul>
                                            </div>


                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="#">اجاره اداری و تجاری</a></h3>
                                                <ul>
                                                    <li><a href="#">دفتر کار، اتاق اداری و مطب</a></li>
                                                    <li><a href="#">مغازه و غرفه</a></li>
                                                    <li><a href="#">صنعتی،‌ کشاورزی و تجاری</a></li>
                                                </ul>

                                            </div>
                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="">فروش اداری و تجاری</a></h3>
                                                <ul>
                                                    <li><a href="#">دفتر کار، اتاق اداری و مطب</a></li>
                                                    <li><a href="#">مغازه و غرفه</a></li>
                                                    <li><a href="#">صنعتی،‌ کشاورزی و تجاری</a></li>
                                                </ul>
                                            </div>

                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="">اجاره مسکونی</a></h3>
                                                <ul>
                                                    <li><a href="#">آپارتمان</a></li>
                                                    <li><a href="#">خانه و ویلا</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="">فروش املاک مسکونی</a></h3>
                                                <ul>
                                                    <li><a href="#">آپارتمان</a></li>
                                                    <li><a href="#">خانه و ویلا</a></li>
                                                    <li><a href="#">زمین و کلنگی</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </li>




                                <li>
                                    <a href="#">وسایل نقلیه<span class="arrow"></span></a>
                                    <div class="megamenu clearfix">
                                        <div class="typography-text clearfix">






                                            <div class="col-lg-2 col-sm-12">
                                            </div>


                                            <div class="col-lg-2 col-sm-12">

                                                <h3 class="title"><a href="">قایق و لوازم جانبی</a></h3>
                                                <ul>
                                                    <li><a href="#">قایق</a></li>
                                                    <li><a href="#">لوازم جانبی قایق</a></li>
                                                </ul>
                                            </div>


                                            <div class="col-lg-3 col-sm-12">
                                                <h3 class="title"><a href="">موتورسیکلت و لوازم جانبی</a></h3>
                                                <ul>
                                                    <li><a href="#">موتورسیکلت</a></li>
                                                    <li><a href="#">لوازم جانبی موتورسیکلت</a></li>
                                                </ul>
                                            </div>


                                            <div class="col-lg-3 col-sm-12">
                                                <h3 class="title"><a href="">قطعات یدکی و لوازم جانبی خودرو</a></h3>
                                                <ul>
                                                    <li><a href="#">لوازم جانبی خودرو سواری</a></li>
                                                    <li><a href="#">لوازم جانبی خودرو سنگین</a></li>
                                                </ul>
                                            </div>


                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="">خودرو</a></h3>
                                                <ul>
                                                    <li><a href="#">سواری</a></li>
                                                    <li><a href="#">سنگین</a></li>
                                                </ul>
                                            </div>


                                        </div>
                                    </div>
                                </li>




                                <li>
                                    <a href="#">لوازم الکترونیکی<span class="arrow"></span></a>
                                    <div class="megamenu clearfix">
                                        <div class="typography-text clearfix">





                                            <div class="col-lg-2 col-sm-12">
                                            </div>


                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="">تلفن رومیزی</a></h3>
                                                <ul>
                                                    <li><a href="#">تلفن</a></li>
                                                </ul>
                                            </div>


                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="">کنسول ها و بازی‌ ها</a></h3>
                                                <ul>
                                                    <li><a href="#">کنسول های بازی</a></li>
                                                    <li><a href="#">بازی های ویدئویی و آنلاین</a></li>
                                                </ul>
                                            </div>

                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="">صوتی و تصویری</a></h3>
                                                <ul>
                                                    <li><a href="#">فیلم و موسیقی</a></li>
                                                    <li><a href="#">دوربین عکاسی و فیلم‌برداری</a></li>
                                                    <li><a href="#">پخش‌کننده همراه</a></li>
                                                    <li><a href="#">سیستم صوتی خانگی</a></li>
                                                    <li><a href="#">ویدئو و پخش کننده DVD</a></li>
                                                    <li><a href="#">تلویزیون و پروژکتور</a></li>
                                                </ul>
                                            </div>


                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="">رایانه</a></h3>
                                                <ul>
                                                    <li><a href="#">رایانه همراه</a></li>
                                                    <li><a href="#">رایانه رومیزی</a></li>
                                                    <li><a href="#">قطعات و لوازم جانبی</a></li>
                                                    <li><a href="#">مودم و تجهیزات شبکه</a></li>
                                                    <li><a href="#">پرینتر/اسکنر/کپی/فکس</a></li>
                                                </ul>
                                            </div>


                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="">موبایل و تبلت</a></h3>
                                                <ul>
                                                    <li><a href="#">گوشی موبایل</a></li>
                                                    <li><a href="#">تبلت</a></li>
                                                    <li><a href="#">لوازم جانبی موبایل و تبلت</a></li>
                                                    <li><a href="#">سیم کارت</a></li>
                                                </ul>
                                            </div>


                                        </div>
                                    </div>
                                </li>


                                <li>
                                    <a href="#">لوازم خانگی<span class="arrow"></span></a>
                                    <div class="megamenu clearfix">
                                        <div class="typography-text clearfix">





                                            <div class="col-lg-2 col-sm-12">
                                            </div>


                                            <div class="col-lg-2 col-sm-12">
                                            </div>

                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="">ابزار</a></h3>
                                                <ul>
                                                    <li><a href="#">نظافت و خیاطی و اتو</a></li>
                                                    <li><a href="#">تعمیرات</a></li>
                                                </ul>
                                            </div>

                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="">ساختمان و حیاط</a></h3>
                                                <ul>
                                                    <li><a href="#">سرویس بهداشتی و سونا</a></li>
                                                    <li><a href="#">سیستم گرمایشی سرمایشی و گاز</a></li>
                                                    <li><a href="#">آشپزخانه</a></li>
                                                    <li><a href="#">حیاط و ایوان</a></li>
                                                    <li><a href="#">ابزار باغبانی</a></li>
                                                </ul>
                                            </div>


                                            

                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="">وسایل آشپزخانه</a></h3>
                                                <ul>
                                                    <li><a href="#">ماشین ظرفشویی</a></li>
                                                    <li><a href="#">یخچال و فریزر</a></li>
                                                    <li><a href="#">وسایل آشپزی و غذاخوری</a></li>
                                                    <li><a href="#">مایکروویو و گاز</a></li>
                                                    <li><a href="#">ماشین لباسشویی و خشک کننده</a></li>
                                                </ul>
                                            </div>


                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="">وسایل و تزئینات خانه</a></h3>
                                                <ul>
                                                    <li><a href="#">تزئینی و آثار هنری</a></li>
                                                    <li><a href="#">لوازم روشنایی</a></li>
                                                    <li><a href="#">میز و صندلی</a></li>
                                                    <li><a href="#">فرش و گلیم</a></li>
                                                    <li><a href="#">کمد و بوفه</a></li>
                                                    <li><a href="#">پرده و رومیزی</a></li>
                                                    <li><a href="#">تخت و اتاق خواب</a></li>
                                                    <li><a href="#">مبلمان و صندلی راحتی</a></li>
                                                    <li><a href="#">میز تلویزیون و وسایل سیستم پخش</a></li>
                                                </ul>
                                            </div>


                                        </div>
                                    </div>
                                </li>



                                <li>
                                    <a href="#">خدمات<span class="arrow"></span></a>
                                    <div class="megamenu clearfix">
                                        <div class="typography-text clearfix">


                                            <div class="col-lg-2 col-sm-12">
                                            </div>


                                            <div class="col-lg-2 col-sm-12">

                                                <h3 class="title"><a href="">باغبانی و درختکاری</a></h3>
                                                <h3 class="title"><a href="">نظافت</a></h3>
                                                <h3 class="title"><a href="">آرایشگری و زیبایی</a></h3>
                                            </div>


                                         

                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="">سرگرمی</a></h3>
                                                <h3 class="title"><a href="">پیشه و مهارت</a></h3>
                                                <h3 class="title"><a href="">حمل و نقل</a></h3>
                                            </div>


                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="#">موتور و ماشین</a></h3>
                                                <h3 class="title"><a href="#">پذیرایی/مراسم</a></h3>
                                                <h3 class="title"><a href="#">مالی/حسابداری/بیمه</a></h3>
                                            </div>

                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="#">خدمات رایانه‌ای و موبایل</a></h3>
                                                <ul>
                                                    <li><a href="#">فروش دامنه و سایت</a></li>
                                                    <li><a href="#">میزبانی و طراحی سایت</a></li>
                                                    <li><a href="#">خدمات پهنای باند اینترنت</a></li>
                                                    <li><a href="#">خدمات نرم‌افزار و سخت‌افزار کامپیوتر</a></li>
                                                    <li><a href="#">تعمیرات نرم‌افزار و سخت‌افزار گوشی موبایل</a></li>
                                                </ul>
                                            </div>


                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="#">آموزشی</a></h3>
                                                <ul>
                                                    <li><a href="#">زبان خارجی</a></li>
                                                    <li><a href="#">دروس مدرسه و دانشگاه</a></li>
                                                    <li><a href="#">نرم افزار</a></li>
                                                    <li><a href="#">هنری</a></li>
                                                    <li><a href="#">ورزشی</a></li>
                                                    <li><a href="#">مشاوره تحصیلی</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </li>



                                <li>
                                    <a href="#">لوازم شخصی<span class="arrow"></span></a>
                                    <div class="megamenu clearfix">
                                        <div class="typography-text clearfix">





                                            <div class="col-lg-2 col-sm-12">
                                            </div>


                                      


                                            <div class="col-lg-2 col-sm-12">
                                            </div>


                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="#">کفش و لباس بچه</a></h3>
                                                <h3 class="title"><a href="#">آرایشی، بهداشتی و درمانی</a></h3>
                                            </div>


                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="#">تزیینی</a></h3>
                                                <ul>
                                                    <li><a href="#">ساعت</a></li>
                                                    <li><a href="#">جواهرات</a></li>
                                                    <li><a href="#">بدلیجات</a></li>
                                                </ul>
                                            </div>


                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="#">کیف، کفش و لباس</a></h3>
                                                <ul>
                                                    <li><a href="#">کیف/کفش/کمربند</a></li>
                                                    <li><a href="#">لباس</a></li>
                                                </ul>
                                            </div>

                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="#">وسایل بچه و اسباب بازی</a></h3>
                                                <ul>

                                                    <li><a href="#">اسباب بازی</a></li>
                                                    <li><a href="#">کالسکه و لوازم جانبی</a></li>
                                                    <li><a href="#">صندلی بچه</a></li>
                                                    <li><a href="#">اسباب و اثاث بچه</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </li>



                                <li>
                                    <a href="#">سرگرمی و فراغت<span class="arrow"></span></a>
                                    <div class="megamenu clearfix">
                                        <div class="typography-text clearfix">



                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="#">کلکسیون و سرگرمی</a></h3>
                                                <ul>
                                                    <li><a href="#">سکه، تمبر و اسکناس</a></li>
                                                    <li><a href="#">اشیای عتیقه</a></li>
                                                </ul>

                                                <h3 class="title"><a href="#">اسباب‌ بازی</a></h3>
                                                <h3 class="title"><a href="#">تور و چارتر</a></h3>
                                                <h3 class="title"><a href="#">دوچرخه/اسکیت/اسکوتر</a></h3>
                                            </div>


                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="#">کتاب و مجله</a></h3>
                                                <ul>
                                                    <li><a href="#">آموزشی</a></li>
                                                    <li><a href="#">ادبی</a></li>
                                                    <li><a href="#">تاریخی</a></li>
                                                    <li><a href="#">مذهبی</a></li>
                                                    <li><a href="#">مجلات</a></li>
                                                </ul>

                                            </div>


                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="#">آلات موسیقی</a></h3>
                                                <ul>
                                                    <li><a href="#">گیتار، بیس و امپلیفایر</a></li>
                                                    <li><a href="#">سازهای بادی</a></li>
                                                    <li><a href="#">پیانو/کیبورد/آکاردئون</a></li>
                                                    <li><a href="#">سنتی</a></li>
                                                    <li><a href="#">درام و پرکاشن</a></li>
                                                    <li><a href="#">ویولن</a></li>
                                                </ul>
                                            </div>




                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="#">حیوانات</a></h3>
                                                <ul>
                                                    <li><a href="#">گربه</a></li>
                                                    <li><a href="#">موش و خرگوش</a></li>
                                                    <li><a href="#">خزنده</a></li>
                                                    <li><a href="#">پرنده</a></li>
                                                    <li><a href="#">ماهی</a></li>
                                                    <li><a href="#">لوازم جانبی</a></li>
                                                    <li><a href="#">حیوانات مزرعه</a></li>
                                                </ul>
                                            </div>




                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="#">بلیط</a></h3>
                                                <ul>
                                                    <li><a href="#">کنسرت</a></li>
                                                    <li><a href="#">تئاتر و سینما</a></li>
                                                    <li><a href="#">کارت هدیه و تخفیف</a></li>
                                                    <li><a href="#">اماکن و مسابقات ورزشی</a></li>
                                                    <li><a href="#">ورزشی</a></li>
                                                    <li><a href="#">اتوبوس، مترو و قطار</a></li>
                                                </ul>
                                            </div>


                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="#">ورزش و تناسب اندام</a></h3>
                                                <ul>
                                                    <li><a href="#">ورزش‌های توپی</a></li>
                                                    <li><a href="#">کوهنوردی و کمپینگ</a></li>
                                                    <li><a href="#">غواصی و ورزش‌های آبی</a></li>
                                                    <li><a href="#">ماهیگیری</a></li>
                                                    <li><a href="#">تجهیزات ورزشی</a></li>
                                                    <li><a href="#">ورزش‌های زمستانی</a></li>
                                                    <li><a href="#">اسب و تجهیزات اسب سواری</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>



                                <li>
                                    <a href="#">اجتماعی<span class="arrow"></span></a>
                                    <div class="megamenu clearfix">
                                        <div class="typography-text clearfix">



                                            <div class="col-lg-2 col-sm-12">
                                            </div>


                                            <div class="col-lg-2 col-sm-12">
                                            </div>


                                            <div class="col-lg-2 col-sm-12">
                                            </div>



                                            <div class="col-lg-2 col-sm-12">
                                            </div>



                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="#">داوطلبانه</a></h3>
                                                <ul>
                                                    <li><a href="#">خیریه و کمک رسانی</a></li>
                                                    <li><a href="#">تحقیقاتی</a></li>
                                                </ul>
                                            </div>


                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="#">رویداد</a></h3>
                                                <ul>
                                                    <li><a href="#">حراج</a></li>
                                                    <li><a href="#">گردهمایی و همایش</a></li>
                                                    <li><a href="#">موسیقی و تئاتر</a></li>
                                                    <li><a href="#">ورزشی</a></li>
                                                </ul>
                                            </div>


                                        </div>
                                    </div>
                                </li>



                                <li>
                                    <a href="#">کسب و کار<span class="arrow"></span></a>
                                    <div class="megamenu clearfix">
                                        <div class="typography-text clearfix">



                                            <div class="col-lg-2 col-sm-12">
                                            </div>



                                            <div class="col-lg-2 col-sm-12">
                                            </div>


                                            <div class="col-lg-2 col-sm-12">
                                            </div>



                                            <div class="col-lg-2 col-sm-12">
                                            </div>



                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="#">عمده فروشی</a></h3>
                                            </div>


                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="#">تجهیزات و ماشین‌آلات</a></h3>
                                                <ul>
                                                    <li><a href="#">فروشگاه و مغازه</a></li>
                                                    <li><a href="#">آرایشگاه و سالن‌های زیبایی</a></li>
                                                    <li><a href="#">دفتر کار</a></li>
                                                    <li><a href="#">صنعتی</a></li>
                                                    <li><a href="#">کافی‌شاپ و رستوران</a></li>
                                                </ul>
                                            </div>


                                        </div>
                                    </div>
                                </li>




                                <li>
                                    <a href="#">استخدام<span class="arrow"></span></a>
                                    <div class="megamenu clearfix">
                                        <div class="typography-text clearfix">



                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="#">هنری و رسانه</a></h3>
                                            </div>


                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="#">درمانی و زیبایی و بهداشتی</a></h3>
                                            </div>


                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="#">حمل و نقل</a></h3>
                                            </div>


                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="#">آموزشی</a></h3>
                                            </div>


                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="#">صنعتی و فنی و مهندسی</a></h3>
                                            </div>


                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="#">بازاریابی و فروش</a></h3>
                                            </div>

                                            <div class="cl"></div>


                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="#">مالی و حسابداری و حقوقی</a></h3>
                                            </div>


                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="#">رایانه و فناوری اطلاعات</a></h3>
                                            </div>


                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="#">خدمات فروشگاه و رستوران</a></h3>
                                            </div>


                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="#">معماری ،عمران و ساختمان</a></h3>
                                            </div>


                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="#">سرایداری و نظافت</a></h3>
                                            </div>


                                            <div class="col-lg-2 col-sm-12">
                                                <h3 class="title"><a href="#">اداری و مدیریت</a></h3>
                                            </div>


                                        </div>
                                    </div>
                                </li>



                                <li>
                                    <a href="#">جستجو<i class="fa fa-search top-1"></i></a>
                                    <div class="megamenu halfdiv">
                                        <h3 class="title">کلمه مورد نظر خود را وارد کنید</h3>
                                        <form name="contact_name" class="menu_form">
                                            <input type="text" placeholder="پژو سفید">
                                            <input type="button" value="جستجو">
                                            <input type="submit" value="انصراف">
                                        </form>
                                        <div class="cl"></div>
                                    </div>
                                </li>
                            </ul>
                        </nav>

                    </div>
                </div>
                <!-- container -->
            </div>
            <!-- bottom-header -->
</header>
    <!-- header-page -->
    <div id="content" class="container clearfix">

        @*<nav id="RightCol" class="Right-menu main-menu">
                <div>
                    <a class="logo" href="#">
                    </a>
                </div>
                <div class="scrollbar" id="style-1">
                    @{

                        if (Utility.CurrentUser != null)
                        {
                            <ul>
                                <li>
                                    <a href="/Fa/Index">
                                        <i class="fa fa-home fa-lg"></i>
                                        <span class="nav-text">خانه</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Fa/Setting/@Utility.CurrentUser.UserID">
                                        <i class="fa fa-user fa-lg"></i>
                                        <span class="nav-text"> سلام @Utility.CurrentUser.FirstName </span>
                                    </a>
                                </li>
                                <li class="darkerlishadow">
                                    <a id="LPageID" href="/Home/Page/@Utility.CurrentUser.UserName">
                                        <i class="fa fa-user-circle-o fa-lg"></i>
                                        <span class="nav-text">صفحه اجتماعی من</span>
                                    </a>
                                </li>
                                <li class="darkerlishadowdown">
                                    <a href="/Fa/NewsFavorites/@Utility.CurrentUser.UserID">
                                        <i class="fa fa-heart fa-lg"></i>
                                        <span class="nav-text">علاقه مندی ها</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="/Fa/BackLinkAdd/@Utility.CurrentUser.UserID">
                                        <i class="fa fa-link fa-lg"></i>
                                        <span class="nav-text">ثبت بک لینک</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Fa/BackLinks/@Utility.CurrentUser.UserID">
                                        <i class="fa fa-link fa-lg"></i>
                                        <span class="nav-text">لینکستان</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Fa/PostSent/@Utility.CurrentUser.UserID">
                                        <i class="fa fa-file-text fa-lg"></i>
                                        <span class="nav-text">ارسال پست</span>
                                    </a>
                                </li>

                                <li class="darkerlishadow">
                                    <a href="/Fa/NewsFavorites/@Utility.CurrentUser.UserID">
                                        <i class="fa fa-share-alt fa-lg"></i>
                                        <span class="nav-text">اشتراک گذاری</span>
                                    </a>
                                </li>
                                <li class="darkerlishadowdown">
                                    <a href="/Fa/NotificationSetting/@Utility.CurrentUser.UserID">
                                        <i class="fa fa-bullhorn fa-lg"></i>
                                        <span class="nav-text">تنظیم اعلانات</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Fa/MyFriends/@Utility.CurrentUser.UserID">
                                        <i class="fa fa-users fa-lg"></i>
                                        <span class="nav-text">دوستان من</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Fa/Setting/@Utility.CurrentUser.UserID">
                                        <i class="fa fa-cog fa-lg"></i>
                                        <span class="nav-text">شخصی سازی</span>
                                    </a>
                                </li>
                            </ul>
                        }
                        else
                        {
                            <ul>
                                <li>
                                    <a href="/Fa/Index">
                                        <i class="fa fa-home fa-lg"></i>
                                        <span class="nav-text">خانه</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#loginFormModal">
                                        <i class="fa fa-user fa-lg"></i>
                                        <span class="nav-text">ورود</span>
                                    </a>
                                </li>
                                <li class="darkerlishadow">
                                    <a href="#" data-toggle="modal" data-target="#loginFormModal">
                                        <i class="fa fa-user-circle-o fa-lg"></i>
                                        <span class="nav-text">صفحه اجتماعی من</span>
                                    </a>

                                </li>
                                <li class="darkerlishadowdown">
                                    <a href="#" data-toggle="modal" data-target="#loginFormModal">
                                        <i class="fa fa-heart fa-lg"></i>
                                        <span class="nav-text">علاقه مندی ها</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" data-toggle="modal" data-target="#loginFormModal">
                                        <i class="fa fa-link fa-lg"></i>
                                        <span class="nav-text">ثبت بک لینک</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#loginFormModal">
                                        <i class="fa fa-file-text fa-lg"></i>
                                        <span class="nav-text">ارسال پست</span>
                                    </a>
                                </li>

                                <li class="darkerlishadow">
                                    <a href="#" data-toggle="modal" data-target="#loginFormModal">
                                        <i class="fa fa-share-alt fa-lg"></i>
                                        <span class="nav-text">اشتراک گذاری</span>
                                    </a>
                                </li>
                                <li class="darkerlishadowdown">

                                    <a href="#" data-toggle="modal" data-target="#loginFormModal">
                                        <i class="fa fa-bullhorn fa-lg"></i>
                                        <span class="nav-text">تنظیم اعلانات</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#loginFormModal">
                                        <i class="fa fa-users fa-lg"></i>
                                        <span class="nav-text">دوستان من</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#loginFormModal">
                                        <i class="fa fa-cog fa-lg"></i>
                                        <span class="nav-text">تنظیمات</span>
                                    </a>
                                </li>
                            </ul>
                        }

                    }
                </div>

            </nav>*@


        @*<nav id="RightCol" class="Right-menu main-menu">
            <div>
                <a class="logo" href="#">
                </a>
            </div>
            <div class="scrollbar" id="style-1">

                <ul>

                    <li class="colortitle">
                        <a href="/Fa/Index">
                            <i class="fa sidebartitle">آگهی</i>
                            <span class="nav-text"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#loginFormModal">
                            <i class="fa fa-user fa-lg"></i>
                            <span class="nav-text">املاک</span>
                        </a>
                    </li>
                    <li class="darkerlishadow">
                        <a href="#" data-toggle="modal" data-target="#loginFormModal">
                            <i class="fa fa-user-circle-o fa-lg"></i>
                            <span class="nav-text">وسایل نقلیه</span>
                        </a>

                    </li>
                    <li class="darkerlishadowdown">
                        <a href="#" data-toggle="modal" data-target="#loginFormModal">
                            <i class="fa fa-heart fa-lg"></i>
                            <span class="nav-text">لوازم الکترونیکی</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" data-toggle="modal" data-target="#loginFormModal">
                            <i class="fa fa-link fa-lg"></i>
                            <span class="nav-text">لوازم خانگی</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#loginFormModal">
                            <i class="fa fa-file-text fa-lg"></i>
                            <span class="nav-text">خدمات</span>
                        </a>
                    </li>

                    <li class="darkerlishadow">
                        <a href="#" data-toggle="modal" data-target="#loginFormModal">
                            <i class="fa fa-share-alt fa-lg"></i>
                            <span class="nav-text">لوازم شخصی</span>
                        </a>
                    </li>
                    <li class="darkerlishadowdown">

                        <a href="#" data-toggle="modal" data-target="#loginFormModal">
                            <i class="fa fa-bullhorn fa-lg"></i>
                            <span class="nav-text">سرگرمی و فراغت</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#loginFormModal">
                            <i class="fa fa-users fa-lg"></i>
                            <span class="nav-text">اجتماعی</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#loginFormModal">
                            <i class="fa fa-cog fa-lg"></i>
                            <span class="nav-text">کسب و کار</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#loginFormModal">
                            <i class="fa fa-cog fa-lg"></i>
                            <span class="nav-text">استخدام</span>
                        </a>
                    </li>
                </ul>

            </div>

        </nav>*@







        <nav id="leftCol" class="main-menu">
            <div>
                <a class="logo" href="#">
                </a>
            </div>

            <div class="scrollbar" id="style-1">

                <ul>
                    <li class="colortitle">
                        <a href="/fa/Cat/ورزشی/">
                            <i class="fa sidebartitle">اخبار</i>
                            <span class="nav-text"></span>
                        </a>
                    </li>
                    <li>
                        <a href="/fa/Cat/ورزشی/">
                            <i class="fa fa-futbol-o fa-lg"></i>
                            <span class="nav-text">ورزشی</span>
                        </a>
                    </li>
                    <li>
                        <a href="/fa/Cat/سیاسی/">
                            <i class="fa fa-bomb fa-lg"></i>
                            <span class="nav-text">سیاسی</span>
                        </a>
                    </li>
                    <li class="darkerlishadow">
                        <a href="/fa/Cat/حوادث/">
                            <i class="fa fa-ambulance fa-lg"></i>
                            <span class="nav-text">حوادث</span>
                        </a>
                    </li>
                    <li class=" darkerlishadowdown">
                        <a href="/fa/Cat/علمی پزشکی/">
                            <i class="fa fa-medkit fa-lg"></i>
                            <span class="nav-text">علمی پزشکی</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/fa/Cat/استخدام/">
                            <i class="fa fa-address-card-o fa-lg"></i>
                            <span class="nav-text">استخدام</span>
                        </a>
                    </li>
                    <li>
                        <a href="/fa/Cat/اقتصادی/">
                            <i class="fa fa-money fa-lg"></i>
                            <span class="nav-text">اقتصادی</span>
                        </a>
                    </li>
                    <li class="darkerlishadow">
                        <a href="/fa/Cat/فناوری/">
                            <i class="fa fa-desktop fa-lg"></i>
                            <span class="nav-text">فناوری</span>
                        </a>
                    </li>
                    <li class="darkerlishadowdown">

                        <a href="/fa/Cat/فرهنگ و هنر/">
                            <i class="fa fa-book fa-lg"></i>
                            <span class="nav-text">فرهنگ و هنر</span>
                        </a>
                    </li>

                    <li>
                        <a href="/fa/Cat/اجتماعی/">
                            <i class="fa fa-puzzle-piece fa-lg"></i>
                            <span class="nav-text">اجتماعی</span>

                        </a>
                    </li>
                    <li>
                        <a href="/fa/Cat/بین المللی/">
                            <i class="fa fa-globe fa-lg"></i>
                            <span class="nav-text">بین المللی</span>

                        </a>
                    </li>
                    <li class="darkerlishadow">
                        <a href="/fa/Cat/گوناگون/">
                            <i class="fa fa-outdent fa-lg"></i>
                            <span class="nav-text">گوناگون</span>

                        </a>
                    </li>
                    <li class="darkerlishadowdown">
                        <a href="/fa/Cat/تصویری/">
                            <i class="fa fa-picture-o fa-lg"></i>
                            <span class="nav-text">تصویری</span>

                        </a>
                    </li>
                    <li>
                        <a href="/fa/Cat/سینمایی/">
                            <i class="fa fa-film fa-lg"></i>
                            <span class="nav-text">سینمایی</span>

                        </a>
                    </li>
                    <li>
                        <a href="/fa/Cat/گردشگری/">
                            <i class="fa fa-plane fa-lg"></i>
                            <span class="nav-text">گردشگری</span>

                        </a>
                    </li>
                    <li class="darkerlishadow">
                        <a href="/fa/Cat/خودرو/">
                            <i class="fa fa-car fa-lg"></i>
                            <span class="nav-text">خودرو</span>

                        </a>
                    </li>
                    <li class="darkerlishadowdown">
                        <a href="/fa/Cat/دانلود/">
                            <i class="fa fa-download fa-lg"></i>
                            <span class="nav-text">دانلود</span>

                        </a>
                    </li>
                    <li>
                        <a href="/fa/Cat/آشپزی/">
                            <i class="fa fa-cutlery fa-lg"></i>
                            <span class="nav-text">آشپزی</span>

                        </a>
                    </li>
                </ul>

            </div>

        </nav>



        @RenderBody()


    </div>
    <!-- container -->
    <div id="bottom-sidebar">
        <div class="container clearfix">
            <div class="row">
                <div class="col-md-3">

                    <a href="#"><img src="~/images/logo.png" alt="" /></a>
                    <div class="widget widget-text">
                        <p>وب سایت IGreenNews با هدف فزونی بخشی و سهولت دستیابی به اخبار توسط کارشناسان حرفه ای تاسیس گردیده است.</p>
                    </div>







                    <div class="well" id="type-btn-bar">
                        <a class="btn btn-success" data-status="success" data-msg="داداش ایران ریییییییییییییید">notify</a>
                    </div>












                </div>
                <div class="col-md-3">
                    <div class="widget widget_categories">
                        <h2 class="widget-title"></h2>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">منابع خبری</a>
                            </li>
                            <li>
                                <a href="#">موضوعات خبری</a>
                            </li>
                            <li>
                                <a href="#">آخرین اخبار در سایت شما</a>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="widget widget_pages">
                        <h2 class="widget-title"></h2>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">خدمات سئو</a>
                            </li>
                            <li>
                                <a href="#">درباره ما</a>
                            </li>
                            <li>
                                <a href="#">تماس با ما</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="widget widget-contact">
                        <h2 class="widget-title">راه های ارتباطی</h2>
                        <div class="widget-content">
                            <ul class="list-unstyled">
                                <li class="clearfix"><span class="fa fa-map-marker pull-left"></span>تهران، میدان ونک</li>
                                <li class="clearfix"><span class="fa fa-phone pull-left"></span>+98(021)77166964</li>
                                <li class="clearfix"><span class="fa fa-envelope pull-left"></span><a href="mailto:info@igreennews.com">info@igreennews.com</a> </li>
                                <li class="clearfix"><span class="fa fa-rss  pull-left"></span><a href="rss">rss</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- container -->
    </div>
    <!-- bottom-sidebar -->
    <footer id="page-footer">

        <div class="container">
            <div class="">
                <div class="copy pull-left">
                    <p><span>تمامی حقوق این وبسایت متعلق به شرکت <a href="http://igreennews.com/">IGN</a> میباشد</span></p>
                </div>
                <div class="soc_icons pull-right">
                    <ul class="list-unstyled text-center">
                        <li><a href="http://instagram.com/"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="http://telegram.me/"><i class="fa fa-telegram"></i></a></li>
                        <li><a href="http://facebook.com/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="http://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://plus.google.com/"><i class="fa fa-google"></i></a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </footer>


    <!-- page footer -->

    <span class="back-to-top fa fa-chevron-up"></span>

    <!-- Login Form Start -->


    <div class="modal fade" id="loginFormModal" tabindex="-1" role="dialog" aria-labelledby="loginForm">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="loginForm">
                    <div class="mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title mdl-card--expand">
                            <div class="modal--logo">
                                <img src="img/logo.png" alt="">
                            </div>
                        </div>
                        <div class="mdl-card__supporting-text">

                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="text" name="loginUsername" id="loginUsername">
                                <label class="mdl-textfield__label" for="loginUsername">نام کاربری</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="password" name="loginPassword" id="loginPassword">
                                <label class="mdl-textfield__label" for="loginPassword">کلمه عبور</label>
                            </div>

                            <button type="button" id="btnLogin" class="login-form-submit-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">ورود</button>

                        </div>
                        <div class="mdl-card__actions mdl-card--border clearfix">
                            <a href="#" class="pull-left mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" data-toggle="modal" data-target="#forgotFormModal" data-dismiss="modal">
                                رمز عبور خود را فراموش کرده اید؟
                            </a>
                            <a href="#" class="pull-right mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" data-toggle="modal" data-target="#signupFormModal" data-dismiss="modal">
                                ساخت اکانت کاربری
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login Form End -->
    <!-- Signup Form Start -->
    <div class="modal fade" id="signupFormModal" tabindex="-1" role="dialog" aria-labelledby="signupFormModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="signupForm">
                    <div class="mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title mdl-card--expand">
                            <div class="modal--logo">
                                <img src="img/logo.png" alt="">
                            </div>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <form action="#" method="post" id="signupForm">
                                <div class="mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="text" name="singupName" id="singupName">
                                    <label class="mdl-textfield__label" for="singupName">نام و نام خانوادگی</label>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="text" name="singupUsername" id="singupUsername">
                                    <label class="mdl-textfield__label" for="singupUsername">نام کاربری</label>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="text" name="singupEmail" id="singupEmail">
                                    <label class="mdl-textfield__label" for="singupEmail">ایمیل</label>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="password" name="singupPassword" id="singupPassword">
                                    <label class="mdl-textfield__label" for="singupPassword">کلمه عبور</label>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="password" name="singupPasswordAgain" id="singupPasswordAgain">
                                    <label class="mdl-textfield__label" for="singupPasswordAgain">تکرار کلمه عبور</label>
                                </div>

                                <button type="submit" class="singup-form-submit-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">ثبت نام</button>
                            </form>
                        </div>
                        <div class="mdl-card__actions mdl-card--border clearfix">
                            <p class="pull-left">عضو این سایت هستید؟</p>
                            <a href="#" class="pull-right mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" data-toggle="modal" data-target="#loginFormModal" data-dismiss="modal">
                                ورود
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Signup Form End -->
    <!-- Forgot Form Start -->
    <div class="modal fade" id="forgotFormModal" tabindex="-1" role="dialog" aria-labelledby="signupFormModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="forgotForm">
                    <div class="mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title mdl-card--expand">
                            <div class="modal--logo">
                                <img src="img/logo.png" alt="">
                            </div>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <form action="#" method="post" id="forgotForm">
                                <div class="mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="text" name="forgotEmail" id="forgotEmail">
                                    <label class="mdl-textfield__label" for="forgotEmail">ایمیل</label>
                                </div>

                                <button type="submit" class="forgot-form-submit-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">ارسال صفحه تغییر کلمه عبور به ایمیل</button>
                            </form>
                        </div>
                        <div class="mdl-card__actions mdl-card--border clearfix">
                            <p class="pull-left">عضو سایت نیستید؟</p>
                            <a href="#" class="pull-right mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" data-toggle="modal" data-target="#signupFormModal" data-dismiss="modal">
                                ثبت نام
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Forgot Form End -->
    <!-- Subscribe Form Start -->
    <div class="modal fade" id="subscribeFormModal" tabindex="-1" role="dialog" aria-labelledby="subscribeFormModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="subscribeForm">
                    <div class="mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title mdl-card--expand">
                            <div class="modal--logo">
                                <img src="img/logo.png" alt="">
                            </div>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <form action="#" method="post" id="subscribeForm">
                                <div class="mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="text" name="subscribeEmail" id="subscribeEmail">
                                    <label class="mdl-textfield__label" for="subscribeEmail">ایمیل</label>
                                </div>

                                <button type="submit" class="subscribe-form-submit-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">اشتراک در خبرنامه</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Subscribe Form End -->
    <!-- Contact Form Start -->
    <div class="modal fade" id="contactFormModal" tabindex="-1" role="dialog" aria-labelledby="contactFormModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="contactForm">
                    <div class="mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title mdl-card--expand">
                            <div class="modal--logo">
                                <img src="img/logo.png" alt="">
                            </div>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <form action="sendmail.php" method="post" id="contactForm">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mdl-textfield mdl-js-textfield">
                                            <input class="mdl-textfield__input" type="text" name="contactName" id="contactName">
                                            <label class="mdl-textfield__label" for="contactName">نام و نام خانوادگی</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mdl-textfield mdl-js-textfield">
                                            <input class="mdl-textfield__input" type="text" name="contactEmail" id="contactEmail">
                                            <label class="mdl-textfield__label" for="contactEmail">ایمیل</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="text" name="contactSubject" id="contactSubject">
                                    <label class="mdl-textfield__label" for="contactSubject">موضوع</label>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield">
                                    <textarea class="mdl-textfield__input" name="contactMessage" id="contactMessage"></textarea>
                                    <label class="mdl-textfield__label" for="contactMessage">متن پیام</label>
                                </div>

                                <button type="submit" class="contact-form-submit-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">ارسال</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact Form End -->




</body>
</html>



<script src="~/js/jquery.min.js"></script>
<script src="~/js/jquery-ui.min.js"></script>



<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/material.min.js"></script>
<script src="~/js/jquery.validate.min.js"></script>
<script src="~/js/mainlogin.js"></script>

<script src="~/js/jquery.kanNotify.js"></script>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<script>




    document.addEventListener("touchstart", function () { }, false);
    $(function () {
        $('#wsnavtoggle').click(function () {
            $('.wsmenucontainer').toggleClass('wsoffcanvasopener');
        });
        $('.overlapblackbg').click(function () {
            $('.wsmenucontainer').removeClass('wsoffcanvasopener');
        });

        $('.wsmenu-list> li').has('.wsmenu-submenu').prepend('<span class="wsmenu-click"><i class="wsmenu-arrow fa fa-angle-down"></i></span>');
        $('.wsmenu-list > li').has('.megamenu').prepend('<span class="wsmenu-click"><i class="wsmenu-arrow fa fa-angle-down"></i></span>');
        $('.wsmenu-click').click(function () {
            $(this).toggleClass('ws-activearrow')
                .parent().siblings().children().removeClass('ws-activearrow');
            $(".wsmenu-submenu, .megamenu").not($(this).siblings('.wsmenu-submenu, .megamenu')).slideUp('slow');
            $(this).siblings('.wsmenu-submenu').slideToggle('slow');
            $(this).siblings('.megamenu').slideToggle('slow');
        });

        $('.wsmenu-list > li > ul > li').has('.wsmenu-submenu-sub').prepend('<span class="wsmenu-click02"><i class="wsmenu-arrow fa fa-angle-down"></i></span>');
        $('.wsmenu-list > li > ul > li > ul > li').has('.wsmenu-submenu-sub-sub').prepend('<span class="wsmenu-click02"><i class="wsmenu-arrow fa fa-angle-down"></i>	</span>');

        $('.wsmenu-click02').click(function () {
            $(this).children('.wsmenu-arrow').toggleClass('wsmenu-rotate');
            $(this).siblings('.wsmenu-submenu-sub').slideToggle('slow');
            $(this).siblings('.wsmenu-submenu-sub-sub').slideToggle('slow');

        });

    });


    $(document).ready(function () {
        $(".fa-power-off").unbind();
        $(".fa-power-off").bind('click', function () {

            $.ajax({
                type: 'GET',
                url: '/Home/LogOut',
                data: {},
                cache: false,
                success: function (result) {

                }
            });

        });


        $("#btnLogin").click(function () {
            var username = $("#loginUsername").val();
            var pass = $("#loginPassword").val();

            //alert(username + pass);

            var q = CheckLogin(username, pass);
        })

        $('#type-btn-bar .btn').click(function () {
            var msg = $(this).data('msg');
            var type = $(this).data('status');

            $.kanNotify.add({
                msg: msg,
                type: type
            });
        })


        function CheckLogin(username, pass) {

            $.ajax({
                type: 'GET',
                url: '/Home/CheckUser',
                data: { username: username, pass: pass },
                cache: false,
                success: function (result) {

                    var users = $.parseJSON(result);
                    jQuery.ajax({
                        type: "POST",
                        url: "/Home/Login",
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        data: users,
                        success: function (data) {

                            var url = "/Home/Index";
                            window.location.href = url;

                        },
                        failure: function (errMsg) {

                            alert(errMsg);
                        }
                    });
                }
            });
        }







    });






</script>


@RenderSection("Script", true)

