@using IGN.Models
@using IGN.Controllers

@{
    ViewBag.Title = "BackLinks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section Head
{
<link href="~/css/pagination.css" rel="stylesheet" />
}



<div class="row">
    <div class="col-md-2">
        
        <div class="row">
            <div class="col-md-12">
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
            </div>
        </div>





    </div>
    <div class="col-md-10">

        <div class="widget widget-news card">
            <h2 class="widget-title"><span class="fa fa-rss pull-left"></span>جستجوی لینک</h2>
            <div class="widget-content">



                <div class="row margin-top-15">
                    <div class="col-md-9">
                        <div class="search-box ">
                        
                            <span class="form-group">
                                @{

                                    if (ViewBag.Status == 4 || ViewBag.Status == 2)
                                    {
                                        <input id="txtSearch" type="text" name="search-text" class="form-control empty input-style " onblur="if (this.value == '')this.value = this.defaultValue;" onfocus="if (this.value == this.defaultValue)
                                 this.value = '';" value="@ViewBag.Keywords" />
                                    }
                                    else
                                    {
                                        <input id="txtSearch" type="text" name="search-text" class="form-control empty input-style " onblur="if (this.value == '')this.value = this.defaultValue;" onfocus="if (this.value == this.defaultValue)
                                 this.value = '';" value="بهینه سازی سایت" />
                                    }

                                }
                            
                            </span>

                  
                        </div>
                    </div>
                    <div class="col-md-3">
                        <span>جستجو</span>

                    </div>
                </div>
                
                <div class="row margin-top-15">
                    <div class="col-md-9">


                        <form>
                            <div class="">
                                <select class="opCategorySearch">
                                    <option value="">انتخاب</option>
                                    <option value="-1">همه</option>
                                    @{
                                        foreach (var item in Utility.lstCategory)
                                        {
                                            <option  value="@item.CategoryID">@item.CategoryName</option>
                                        }

                                    }
                                </select>
                            </div>
                        </form>


                    </div>
                    <div class="col-md-3">
                        <span>دسته بندی</span>

                    </div>
                </div>





                <div class="row margin-top-15">
                    <div class="col-md-12">
                        <button id="btnSearch" type="button"  class=" btn btn-accent shadow subscriber-form-btn">تایید</button>

                    </div>
                </div>





            </div>
        </div>

    </div>
</div>


<div class="row">
    <div class="col-md-2">

        <div class="row">
            <div class="col-md-12">
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
            </div>
        </div>



    </div>
    <div class="col-md-10">

        <div class="widget widget-news card">

            <h2 class="widget-title"><span class="fa fa-rss pull-left"></span>مشاهده لینک ها</h2>
            <div class="widget-content">

                <div class="row margin-top-15">
                    <div class="col-md-2">

                        @*<button type="button" class="btn btn-accent shadow subscriber-form-btn">تایید</button>*@

                    </div>
                    <div class="col-md-3">


                        <form>
                            <div class="">
                                <select class="clFilter">
                                    <option value="1">پرامتیازترین</option>
                                    <option value="2">کم امتیاز ترین</option>
                                    <option value="3">قدیمی ترین</option>
                                    <option value="4">جدیدترین</option>
                                    <option value="5">پر بازدیدترین</option>
                                    <option value="6">کم بازدیدترین</option>
                                </select>
                            </div>
                        </form>


                    </div>
                    <div class="col-md-2">
                        <span>مرتب سازی براساس</span>

                    </div>
                    <div class="col-md-3">


                        <form>
                            <div class="">
                                <select class="opCategorySort">
                                    <option value="">انتخاب</option>
                                    <option value="-1">همه</option>
                                    @{
                                        foreach (var item in Utility.lstCategory)
                                        {
                                            <option value="@item.CategoryID">@item.CategoryName</option>
                                        }

                                    }
                                </select>
                            </div>
                        </form>


                    </div>
                    <div class="col-md-2">
                        <span>دسته بندی</span>

                    </div>
                </div>


                <div class="row margin-top-15">
                    <div class="col-md-6">

                        <span class="trendtitle">شرح فعالیت</span>
                    </div>
                  
                    <div class="col-md-2">

                        <span class="trendtitle">دسته بندی</span>
                    </div>
                    <div class="col-md-2">

                        <span class="trendtitle">عنوان</span>
                    </div>

                    <div class="col-md-2">

                        <span class="trendtitle">هشتگ ها</span>
                    </div>

                </div>

                @{
                    if(ViewBag.Status == 0) {

                        Linkestan ls = Utility.lstLinkestan.Where(p => p.LikestanID == ViewBag.BackLinkID).FirstOrDefault();
                        var catename = Utility.lstCategory.Where(p => p.CategoryID == ls.CategoryID).FirstOrDefault().CategoryName;
                        string[] keywords = ls.Keywords.Split(' ');
                        <div class="row margin-top-15  ">
                            <div class="col-md-6">
                                <span>@ls.Description</span>
                            </div>
                            <div class="col-md-2">
                                <a href="/Khabar/لینک-ها/Cat-@ls.CategoryID-@catename"><span>@catename</span></a>
                            </div>
                            <div class="col-md-2">
                                <a href="@ls.LinkName"><span>@ls.Title</span></a>
                            </div>
                            <div class="col-md-2">
                                @foreach (var items in keywords)
                                {
                                    <a href="/Khabar/لینک-ها//Key-@items.Substring(1,items.Length - 1) "><span>@items</span></a>
                                }
                               
                            </div>


                        </div>
                     
                    }
                    else if (ViewBag.Status == 1)
                    {
                        foreach (var item in Utility.lstLinkestan.Where(p=> p.CategoryID == Convert.ToInt32(ViewBag.CateID)))
                        {

                            var catename = Utility.lstCategory.Where(p => p.CategoryID == item.CategoryID).FirstOrDefault().CategoryName;
                            string[] keywords = item.Keywords.Split(' ');
                            <div class="row margin-top-15  ">
                                <div class="col-md-6">
                                    <span>@item.Description</span>
                                </div>
                                <div class="col-md-2">
                                    <a href="/Khabar/لینک-ها//Cat-@item.CategoryID-@catename"><span>@catename</span></a>
                                </div>
                                <div class="col-md-2">
                                    <a href="@item.LinkName"><span>@item.Title</span></a>
                                </div>
                                <div class="col-md-2">
                                    @foreach (var items in keywords)
                                    {
                                        <a href="/Khabar/لینک-ها//Key-@items.Substring(1,items.Length - 1) "><span>@items</span></a>
                                    }

                                </div>


                            </div>
                        }
                    }
                    else if (ViewBag.Status == 2)
                    {
                        foreach (var item in Utility.lstLinkestan.Where(p => p.Keywords.Contains(ViewBag.Keywords) ))
                        {

                            var catename = Utility.lstCategory.Where(p => p.CategoryID == item.CategoryID).FirstOrDefault().CategoryName;
                            string[] keywords = item.Keywords.Split(' ');
                            <div class="row margin-top-15  ">
                                <div class="col-md-6">
                                    <span>@item.Description</span>
                                </div>
                                <div class="col-md-2">
                                    <a href="/Khabar/لینک-ها//Cat-@item.CategoryID-@catename"><span>@catename</span></a>
                                </div>
                                <div class="col-md-2">
                                    <a href="@item.LinkName"><span>@item.Title</span></a>
                                </div>
                                <div class="col-md-2">
                                    @foreach (var items in keywords)
                                    {
                                        <a href="/Khabar/لینک-ها//Key-@items.Substring(1,items.Length - 1) "><span>@items</span></a>
                                    }

                                </div>


                            </div>
                        }
                    }
                    else if (ViewBag.Status == 4)
                    {
                        foreach (var item in Utility.lstLinkestan.Where(p => p.Keywords.Contains(ViewBag.Keywords) && p.CategoryID == Convert.ToInt32(ViewBag.CateID)))
                        {

                            var catename = Utility.lstCategory.Where(p => p.CategoryID == item.CategoryID).FirstOrDefault().CategoryName;
                            string[] keywords = item.Keywords.Split(' ');
                            <div class="row margin-top-15  ">
                                <div class="col-md-6">
                                    <span>@item.Description</span>
                                </div>
                                <div class="col-md-2">
                                    <a href="/Khabar/لینک-ها//Cat-@item.CategoryID-@catename"><span>@catename</span></a>
                                </div>
                                <div class="col-md-2">
                                    <a href="@item.LinkName"><span>@item.Title</span></a>
                                </div>
                                <div class="col-md-2">
                                    @foreach (var items in keywords)
                                    {
                                        <a href="/Khabar/لینک-ها//Key-@items.Substring(1,items.Length - 1) "><span>@items</span></a>
                                    }

                                </div>


                            </div>
                        }
                    }
                    else if (ViewBag.Status == 3)
                    {
                        foreach (var item in Utility.lstLinkestan)
                        {

                            var catename = Utility.lstCategory.Where(p => p.CategoryID == item.CategoryID).FirstOrDefault().CategoryName;
                            string[] keywords = item.Keywords.Split(' ');
                            <div class="row margin-top-15  ">
                                <div class="col-md-6">
                                    <span>@item.Description</span>
                                </div>
                                <div class="col-md-2">
                                    <a href="/Khabar/لینک-ها//Cat-@item.CategoryID-@catename"><span>@catename</span></a>
                                </div>
                                <div class="col-md-2">
                                    <a href="@item.LinkName"><span>@item.Title</span></a>
                                </div>
                                <div class="col-md-2">
                                    @foreach (var items in keywords)
                                    {
                                        <a href="/Khabar/لینک-ها//Key-@items.Substring(1,items.Length - 1) "><span>@items</span></a>
                                    }

                                </div>


                            </div>
                        }
                    }
                    else if (ViewBag.Status == 5)
                    {
                        List<Linkestan> lstr = new List<Linkestan>();

                        if (ViewBag.CateID != "")
                        {
                            lstr = Utility.lstLinkestan.Where(p => p.CategoryID == Convert.ToInt32(ViewBag.CateID)).ToList();
                        }
                        else
                        {
                            lstr = Utility.lstLinkestan.ToList();
                        }
                        foreach (var item in lstr)
                        {
                            var catename = Utility.lstCategory.Where(p => p.CategoryID == item.CategoryID).FirstOrDefault().CategoryName;
                            string[] keywords = item.Keywords.Split(' ');
                            <div class="row margin-top-15  ">
                                <div class="col-md-6">
                                    <span>@item.Description</span>
                                </div>
                                <div class="col-md-2">
                                    <a href="/Khabar/لینک-ها//Cat-@item.CategoryID-@catename"><span>@catename</span></a>
                                </div>
                                <div class="col-md-2">
                                    <a href="@item.LinkName"><span>@item.Title</span></a>
                                </div>
                                <div class="col-md-2">
                                    @foreach (var items in keywords)
                            {
                                        <a href="/Khabar/لینک-ها//Key-@items.Substring(1,items.Length - 1) "><span>@items</span></a>
                                    }

                                </div>


                            </div>
                        }
                    }
                }
                @*padding-bottom-20*@
               


            </div>
        </div>


    </div>
</div>


<div class="row">
    <div class="col-md-2">

        <div class="row">
            <div class="col-md-12">
            </div>
        </div>



    </div>
    <div class="col-md-10">

        <div class="align-center margin-bottom-20">

            <div class="example">
                <div>
                    <div id="altLists"></div>
                </div>
            </div>

        </div>



    </div>
</div>




@section Script
    {



<script src="~/js/pagination.js"></script>




<script>

   

    $(document).ready(function () {




        var SelectedCateSearch = -1;
        $('.opCategorySearch').change(function () {
            var item = $(this);
            SelectedCateSearch = item.val();
        });


        $('.opCategorySort').change(function () {
            var item = $(this);
            if (item == -1) {
                var url = "/Khabar/لینک-ها/";
                window.location.href = url;
            } else {
                var url = "/Khabar/لینک-ها/CID-" + item.val();
            window.location.href = url;
            }
        });





        $("#btnSearch").click(function () {
        
            var GetName = $("#txtSearch").val();
            if (GetName != null && GetName != "") {
                if (SelectedCateSearch != -1) {
                    var url = "/Khabar/لینک-ها/KeyCat-" + SelectedCateSearch + "-" + GetName;
                    window.location.href = url;
                } else {
                    var url = "/Khabar/لینک-ها/Key-" + GetName;
                    window.location.href = url;
                }

            } else {
                var url = "/Khabar/لینک-ها/";
                window.location.href = url;
            }

        })


        $("#altLists").asPaginator(200, {
            currentPage: 8,
            visibleNum: {
                0: 2,
                480: 3,
                960: 5
            },
            tpl: function () {
                return '<ul>{{first}}{{prev}}{{altLists}}{{next}}{{last}}</ul>';
            },
            components: {
                first: true,
                prev: true,
                next: true,
                last: true,
                altLists: true
            },
            onChange: function (page) {
                var url = '' + page;
                console.log('ajax request')
                $.ajax({
                    url: url,
                    dataType: 'json',
                    success: function (data) {
                    }
                })
            }
        });
    });
</script>






}